@mixin faded-link($color: $base-font-color) {
  color: $color;
  font-weight: inherit;
  text-decoration: none;
  border-bottom: 3px solid lighten($color, 60%);
  transition: border-color $base-duration $base-timing;

  &:hover,
  &:active,
  &.is-hovered {
    color: $color;
    border-color: $primary-color;
  }
}
