/* Colors */

$black: #222;
$white: #FFF;

$cdh-blue: #00edff;
$doger-blue: #3CA1FF;
$light-navy: #175498;
$orange-red: #FF470F;

$grey-100: #F5F5F5;
$grey-200: #EEE;
$grey-500: #9E9E9E;
$grey-800: #424242; 