fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

input,
select,
textarea {
  font-family: $base-font-family;
}

.mdl-textfield__input {
  border-bottom-color: $action-color;
}

.mdl-switch__track {
  width: 28px;
  height: 18px;
}

.mdl-switch__thumb {
  left: 1px;
  top: 6px;
  height: 16px;
  width: 16px;

  &,
  .mdl-switch.is-checked & {
    background: $white;
    box-shadow: none;
  }

  .mdl-switch.is-checked & {
    left: 11px;
  }
}
