fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

input,
select,
textarea {
  @include primary-font-style();
}

.mdl-checkbox__ripple-container .mdl-ripple {
  background: $primary-color;
}

.mdl-checkbox.is-checked {
  .mdl-checkbox__box-outline {
    border-color: $primary-color;
  }

  .mdl-checkbox__tick-outline {
    background: $primary-color;
  }
}

// Switch
@import "switch";

// Selects
@import "selectize/selectize";
