// Site Navigation
.mdl-layout__header {
  display: block;
  box-shadow: none;
  background-color: $header-background-color;
  color: $header-text-color;
  z-index: 10;

  @include grid-media($xlarge-viewport-grid) {
    position: fixed;

    .disable-coordinate-navigation & {
      position: relative;
    }
  }

  &.mdl-layout__header--transparent {
    background-color: transparent;
  }

  &,
  .mdl-layout-title {
    @include primary-font-style();
  }

  &.mdl-layout__header--with-logo {
    & ~ .mdl-layout__drawer-button {
      opacity: 0;
    }

    &::before {
      $logo-size: 56px;
      content: "";
      background-image: url("../img/derrida_VI_logo_arrow.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      width: $logo-size;
      height: $logo-size;
    }
  }
}

.nav>li>a {
  @include secondary-font-style();
}

.mdl-navigation__link {
  @include secondary-font-style();
  opacity: 0.8;
  line-height: 1;
  outline: none;

  .navigation-title {
    margin: 0 10px;
    padding: 0;
    position: relative;
    line-height: 1;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -0.2111em;;
      left: 0;
      width: 100%;
      border-bottom: solid 3px $primary-color;
      @include transform(scaleX(0));
      @include transform-origin(0% 50%);
      @include transition(transform 250ms ease-in-out);
    }
  }

  &:hover,
  &:active {
    .navigation-title::after {
      @include transform(scaleX(1));
    }
  }

  &.mdl-navigation__link--active {
    .navigation-title {
      border-bottom: 3px solid $primary-color;
    }
  }

  &:hover,
  &:active {
    opacity: 1;
    text-decoration: none;
    color: $base-font-color;
  }
}

.coordinate-navigation--background-light-navy {
  .navigation-title {
    background: $light-navy;
  }
}

.mdl-layout__header-row {
  height: $header-row-height;
  justify-content: space-between;

  & > .mdl-navigation {
    display: none;

    .disable-coordinate-navigation & {
      display: flex;
    }
  }
}

.mdl-layout__drawer-button,
.mdl-layout__header-row .mdl-navigation__link {
  color: $header-text-color;
  font-size: 1.15em;
  line-height: 0;
  height: 2em;
  display: flex;
  align-items: center;
  z-index: 6;
}

.mdl-layout__header-row--aligned-left {
  .mdl-layout-spacer {
    display: none;
  }
}

.mdl-layout__tab-bar-button {
  background: none;
}

.mdl-layout-logo {
  flex-grow: 2;
  text-align: center;
}

@include grid-media($large-medium-viewport-grid) {
  .mdl-layout-logo {
    flex-grow: 0;
  }

  .mdl-layout__drawer-button {
    display: none;
  }

  .mdl-layout__header-row {
    padding: 0 1em;

    & > .mdl-navigation {
      display: flex;
      justify-content: center;
    }
  }
}

.coordinate-navigation {
  display: none;
}

@include grid-media($xlarge-viewport-grid) {
  .mdl-layout__header {
    background-color: transparent;

    .mdl-navigation__link {
      display: none;

      .disable-coordinate-navigation & {
        display: flex;
      }
    }

    .background-colored--dark & {
      .header__search-button .mdl-button {
        color: $white;
      }
    }
  }

  .coordinate-navigation {
    display: block;
    z-index: 10;

    .disable-coordinate-navigation & {
      display: none;
    }

    .background-colored--dark & {
      .mdl-navigation__link {
        color: $white;
      }
    }

    .mdl-navigation__link {
      @include secondary-font-style("bold");
      -webkit-font-smoothing: antialiased;
      opacity: 1;
      padding: 0;
      font-size: 20px;
      position: fixed;
      width: 12rem;
      white-space: nowrap;

      &:nth-child(1),
      &:nth-child(2) {
        left: 0;
        transform: rotateZ(-90deg) translate(-6rem, -4rem);
      }

      &:nth-child(3),
      &:nth-child(4) {
        right: 0;
        transform: rotateZ(90deg) translate(6rem, -4rem);
      }

      &:nth-child(4) {
        transform: rotateZ(90deg) translate(9.5rem, -4rem);
        padding-left: 1.3em;
      }

      &:nth-child(1),
      &:nth-child(3) {
        top: 10%;
      }

      &:nth-child(2),
      &:nth-child(4) {
        top: calc(100vh - 17rem);
      }
    }
  }

  .mdl-layout__header.mdl-layout__header--transparent {
    pointer-events: none;

    .disable-coordinate-navigation & {
      pointer-events: auto;
    }
  }

  .mdl-layout-logo {
    pointer-events: auto;
  }

  .header__search-button {
    pointer-events: auto;
  }
}

.header__search-button,
.search-form-header {
  .mdl-button .svg {
    height: 100%;
    margin: 8px 0;
    zoom: 0.8;

    path,
    polygon {
      fill: transparentize($base-font-color, 0.4);
    }

    &:hover,
    &:active {
      path,
      polygon {
        fill: $primary-color;
      }
    }

    .background-colored--dark & {
      path,
      polygon {
        fill: transparentize($white, 0.4);
      }

      &:hover,
      &:active {
        path,
        polygon {
          fill: $white;
        }
      }
    }
  }
}

// Mobile navigation
.mdl-layout__obfuscator.is-visible {
  display: none;
}

.mdl-layout__drawer {
  width: 100%;
  padding-top: 1em;
  height: auto;
  padding-bottom: 2em;
  z-index: 4;
  @include prefixer(transform, translateY(-100%), webkit moz ms o spec);

  &.is-visible {
    @include prefixer(transform, translateY(4.4em), webkit moz ms o spec);

    & ~ main {
      padding-top: 11em;
    }

    .search-form-header:not(.is-hidden) + & ~ main {
      padding-top: 15.4em;
    }
  }

  .mdl-navigation {
    @include transition(padding-top 0.5s $base-timing);
  }

  .search-form-header + &.is-visible {
    .mdl-navigation {
      padding-top: 4em;
    }
  }

  .search-form-header.is-hidden + &.is-visible {
    .mdl-navigation {
      padding-top: 0;
    }
  }

  .mdl-navigation .mdl-navigation__link {
    padding: 0.5rem 1rem;

    &:hover,
    &:active {
      background: none;
    }

    .navigation-title {
      font-size: 14px;
    }
  }

  .mdl-layout__drawer__search-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1em;
  }

  .mdl-layout__drawer__close_button {
    width: 2.25rem;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.5rem;
    margin: 0.9em 1em;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
