@import "colors";

// Typography
$base-font-family: 'Fira Sans', 'Helvetica', 'Arial', sans-serif;
$heading-font-family: 'Cormorant Garamond', 'Georgia', serif;

// Base Font Size
$base-font-size: 14px;

// Font Weights
$base-font-weight: 400;
$heading-font-weight: 300;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: $doger-blue;
$dark-grey: $grey-800;
$medium-grey: $grey-500;
$light-grey: $grey-200;

$primary-color: $blue;
$accent-color: $orange-red;

// Font Colors
$base-font-color: $dark-grey;
$action-color: $blue;

$base-border-color: $light-grey;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $grey-100;
$secondary-background-color: tint($base-border-color, 75%);

// Header and Tab Colors
$header-background-color: $white;$header-text-color: $dark-grey;
$header-accent-color: $cdh-blue;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
