{% extends 'base.html' %}
{% load static %}

{% block page-subtitle %}{{ page.meta_title }} ‖ {% endblock %}
{% block nav-title %} {{ page.title }} {% endblock %}

{% block preview_meta %}
{# override preview image #}
{% with page_meta_image='img/banner/derrida-banner-intervention-S@2x.png' twitter_card='summary_large_image' %}
    {{ block.super }}
{% endwith %}
{% endblock %}

{% block header_class %}mdl-layout__header--transparent{% endblock %}

{% block page-context-id %}interventions-list{% endblock %}

{% block content %}
<header class="page-header header-banner">
    <div class="container page-header__container">
      <h1 class="page-header__heading">{{ page.title }}</h1>
      <div class="page-header__callout">
        <p class="lead">{{ page.description }}</p>
        {# <p><a class="callout__link" href="/">A full list of citations is accessible through Citation List.</a></p> #}
      </div>
    </div>
  </header>

  {% include "components/page-filter.html" with formItems=form %}
  {% include "components/page-sort.html" with number=count orderBy=orderBy %}
  {# NOTE: author first letters available via solr facet, but may need some processing in the view for display #}

  <div class="container">
    <div class="loading-spinner">
      <img src="{% static 'img/loading.gif' %}" />
    </div>
    <article class="collection">
       {% for intervention in object_list %}
          {% include 'components/intervention-list-item.html' %}
       {% empty %}
          {% include 'components/search-results-empty.html' %}
        {% endfor %}
    </article>
    {% if is_paginated %}
      {% include "components/page-pagination.html" with page_obj=page_obj %}
    {% endif %}
  </div>
{% endblock %}
