{% load static humanize %}
<section class="collection__item book {% if shorten %}book--short{% endif %}">
  <figure class="item__image">
    <a class="img item__image__link" href="{{ manifest.get_absolute_url }}">
      {% if manifest.thumbnail %}
        <img class="img" src="{{ manifest.thumbnail.image.thumbnail }}"/>
      {% endif %}
    </a>
  </figure>

  <div class="item__body">
    {# NOTE: annotation indicator should be based on book.is_annotated #}
    <h3 class="item__heading">
      <a class="item__link" href="{{ manifest.get_absolute_url }}">{{ manifest.label|truncatechars:100 }}</a>
    </h3>
    <p class="item__author"></p>
    <p class="item__date">Added {{ manifest.created|naturalday }}</p>
    <p class="item__location">{{ manifest.canvases.all|length }} page{{ manifest.canvases.all|pluralize }}</p>
    <p class="item__excerpt">---</p>
  </div>
</section>
