django>=1.11
mysqlclient
django-grappelli
django-autocomplete-light
requests
rdflib
django-sortedm2m
# unidecode dependency can be removed once squashed book migrations are removed
unidecode
git+https://github.com/Princeton-CDH/django-pucas.git@0.5#egg=pucas
