django>=1.11,<2.0
mysqlclient
django-compressor
django-compressor-autoprefixer
django-grappelli
django-autocomplete-light
requests
rdflib
django-sortedm2m
attrdict
unidecode
pucas>=0.5
piffle>=0.3
# new djiffy for rights license labels (should be 0.5 upon release)
git+https://github.com/Princeton-CDH/djiffy.git@feature/manifest-license-label#egg=djiffy
#djiffy>=0.4.1
annotator_store>=0.6
viapy
django-haystack>=2.7
# haystack from github required for django 1.11 support; should be 2.7 when released
#git+https://github.com/django-haystack/django-haystack.git@master#egg=django-haystack
pysolr
django-widget-tweaks
django-markdownify
# manually pin a compatible version of pillow for mezzanine image preview
pillow<4.2
# mezzanine from github required for django 1.11 compatibility; should be > 4.2.3
git+https://github.com/stephenmcd/mezzanine.git@397409d#egg=mezzanine
django-fullurl
django-apptemplates
roman
