{% extends "pages/page.html" %}
{# template for site home page; main block based on mezzanine richtextpage template #}
{% load derrida_tags %}
{% load mezzanine_tags %}

{% block body_class %}background-colored--light-navy background-colored--dark{% endblock %}
{% block page-context-id %}homepage{% endblock %}
{% block coordinate-nav-classes %}coordinate-navigation--background-light-navy{% endblock %}

{% block main %}{{ block.super }}
  {{page.richtextpage.content|richtext_filters|format_for_home|safe}}
{% endblock %}
