{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}
{# adapted from default mezzanine pages/page.html template #}

{% block page-subtitle %}{{ page.meta_title }} ‖ {% endblock %}

{# content pages should use the same layout as outwork post #}
{% block page-context-id %}outwork-page{% endblock %}
{% block header_class %}mdl-layout__header--transparent{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block metadata %}
    <link rel="schema.DC" href="http://purl.org/DC/elements/1.0/" />
    <meta name="DC.Title" content="{{ page.meta_title }}" />
    <meta name="DC.Type" content="Text" />
    <meta name="DC.Format" content="text/html" />
    <meta name="DC.Description" content="{{ page.description }}" />
    <meta name="DC.Date" content="{{ page.publish_date|date:"c" }}" />
{% endblock %}


{% block content %}
<div class="container">
  {% block pageHeader %}{% endblock %}
  <article>
    <header>
        <h1>{% block title %}{{ page.title }}{% endblock %}
        </h1>
      {# only display tagline if it is custom text #}
      {% if not page.gen_description %}
      <div class="lead">{% block lead %}{{ page.description }}{% endblock %}</div>
      {% endif %}
    </header>

    {% block main %}{% endblock %}

</article>
{% endblock %}
