{% extends 'base.html' %}
{% load static %}

{% block page-subtitle %}Outwork ‖ {% endblock %}

{% block page-context-id %}outwork-list{% endblock %}

{% block header_class %}mdl-layout__header--transparent{% endblock %}

{% block content %}
<header class="page-header">
  <div class="container page-header__container">
    <h1 class="page-header__heading">Outwork</h1>
  </div>
</header>
{% include 'components/search-form-header-init.html' %}
<div class="container">
  <article class="collection outwork-list">
    {% for outwork in object_list %}
      {% include 'outwork/components/outwork-list-item.html' with outwork=outwork %}
    {% empty %}
      {% include 'components/search-results-empty.html' %}
    {% endfor %}
  </article>
    {% if is_paginated %}
      {% include "components/page-pagination.html" with page_obj=page_obj %}
    {% endif %}

</div>
{% endblock %}
