.collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .collection__item {
    @include grid-column(4);

    @include grid-media($large-medium-viewport-grid) {
      @include grid-column(6);
    }
  }
}

.collection--condensed {
  .collection__item {
    @include grid-column(2);

    @include grid-media($large-medium-viewport-grid) {
      @include grid-column(3);
    }
  }
}

.collection__item {
  color: $base-font-color;
  margin-bottom: 5em;
  padding-bottom: 2rem;
  border-bottom: 1px solid $blue;

  .collection--condensed & {
    border-bottom: 0;
  }
}

.item__heading {
  font-size: 1.6rem;
  font-weight: 700;
  font-style: italic;
  margin-top: 0.4em;

  .collection--condensed & {
    font-size: 1.4rem;
    margin-top: 0.6em;
  }
}

.item__heading,
.item__author {
  font-family: $heading-font-family;
  margin-bottom: 0;
}

.item__author {
  font-size: 1.5em;

  .collection--condensed & {
    font-size: 1.3rem;
  }
}

.item__date,
.item__location {
  display: inline-block;
  margin-right: 1rem;
  font-size: 0.9rem;
  line-height: 1;
  margin-bottom: 1.2em;

  .collection--condensed & {
    font-size: 1.3rem;
  }
}

.item__image {
  @include grid-column(1);
  float: right;
  height: 100%;

  .img {
    width: 100%;
    height: auto;
  }

  .collection--condensed & {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
}

.item__excerpt,
.item__citation {
  font-size: 1rem;
}

.item__excerpt {
  font-style: italic;
  opacity: 0.8;
}
