.collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .collection__item {
    position: relative;
    @include grid-column(4);

    @include grid-media($large-medium-viewport-grid) {
      @include grid-column(6);
    }
  }
}

.collection--condensed {
  .collection__item {
    @include grid-column(4);

    @media screen and (min-width: 550px) {
      @include grid-column(2);
    }

    @include grid-media($large-medium-viewport-grid) {
      @include grid-column(3);
    }
  }

  .text-badge,
  .item__location,
  .item__excerpt,
  .item__citation {
    display: none;
    visibility: hidden;
  }
}

.collection--wide {
  @include grid-media($large-medium-viewport-grid) {
    max-width: 66%;
    margin: auto;
  }

  .collection__item {
    width: 100%;

    @include grid-media($large-medium-viewport-grid) {
      .item__body {
        @include grid-column(9);
        margin-left: 0;
      }

      .item__image {
        @include grid-column(3);
        float: right;
      }
    }
  }
}

.collection--no-images {
  padding-top: 1rem;
  padding-bottom: 2rem;

  .collection__item {
    @include grid-column(4);

    @media screen and (min-width: 550px) {
      @include grid-column(2);
    }

    @include grid-media($large-medium-viewport-grid) {
      @include grid-column(4);
    }
  }
}

.collection__header {
  width: 100%;
  padding: 1em $gutter-size 2em;
}

.collection__title {
  color: $base-font-color;
  font-size: ems(18px, 14);
  @include secondary-font-style("bold");

  a {
    text-decoration: none;

    &:hover,
    &:active {
      color: $blue;

      & span {
        color: $blue;
      }
    }

    span {
      color: $base-font-color;
      @include secondary-font-style();
      font-size: 1rem;
      text-decoration: none;
      transition: color $base-duration $base-timing;

      &:first-child {
        margin-left: 1em;
        margin-right: 0.25em;
      }
    }
  }
}

.collection__item {
  color: $base-font-color;
  margin-bottom: 2rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid $blue;

  .collection--condensed & {
    padding-bottom: 2rem;
    border-bottom: 0;
  }

  &.annotation {
    border-bottom-color: $orange-red;
  }

  &.outwork {
    .text-badge,
    .item__author,
    .item__citation {
      display: none;
    }
  }

  &.book--short {
    .text-badge,
    .item__excerpt,
    .item__citation,
    .item__indicator {
      display: none;
    }
  }
}

.item__body {
  @include grid-column(2);

  .collection--condensed & {
    width: 100%;
    float: none;
  }

  .collection--no-images & {
    width: 100%;
    margin-left: 0;
  }
}

.item__heading {
  @include secondary-font-style("italic");
  font-size: ems(19px);
  font-style: italic;
  margin-top: 0.4em;

  .collection--condensed & {
    margin-top: 0.6em;
    margin-bottom: 0.25em;
  }
}

.item__link {
  @include faded-link();
  color: inherit;
  line-height: 1.4;
}

.item__secondary-link {
  color: inherit;
  text-decoration: none;
  line-height: 1.4;
  transition: color $base-duration $base-timing;

  &:hover,
  &:active,
  &.is-hovered {
    color: $primary-color;
  }
}

.item__heading,
.item__author {
  margin-bottom: 0;
}

.item__author {
  font-size: ems(18px);
  @include secondary-font-style();
}

.item__date,
.item__location {
  display: inline-block;
  margin-right: 1rem;
  font-size: ems(12px);
  line-height: 1;
  margin-bottom: 1.2em;
}

.item-gallery {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.item__image {
  position: relative;
  @include grid-column(2);
  float: right;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;

  .collection--condensed & {
    float: none;
  }

  &.item__image--gallery {
    @include grid-column(2);

    @include grid-media($large-medium-viewport-grid) {
      @include grid-column(3);
    }

    float: none;
  }

  .img {
    position: relative;
    width: auto;
    max-height: 200px;
    display: block;

    &.img--placeholder {
      height: 200px;
      width: 150px;
      max-width: 100%;
      background: $light-grey;
      align-self: flex-end;
      margin: 0;
    }

    .collection--condensed & {
      max-height: none;
      max-width: 96%;
    }
  }

  .collection--condensed & {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
  }

  .collection--no-images & {
    display: none;
  }
}

.item__image-link {
  top: 0;
  right: 0;
  background-color: transparent;
  transition: background-color 0.3s $base-timing;
  position: absolute;
  width: auto;
  display: inline-table;

  .collection--condensed &,
  .item-gallery & {
    position: relative;
  }

  .item-gallery & {
    display: block;

    .img {
      max-height: none;
    }
  }

  .img {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.3s $base-timing;
  }

  &::after {
    cursor: pointer;
    content: "";
    background-image: url("../img/icons/Magnify.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 2.5rem;
    line-height: 1;
    color: $white;
    opacity: 0;
    transition: opacity 0.3s $base-timing;
  }

  &:hover {
    background-color: $primary-color;

    .img {
      opacity: 0.3;
    }

    &::after {
      opacity: 0.8;
      transition-duration: 0.5s;
    }
  }
}

.item__image-caption {
  color: $base-font-color;
  font-style: normal;
  padding-top: 0.3em;
  padding-bottom: 1.7em;
}

.item__excerpt,
.item__citation {
  font-size: 0.9em;
}

.item__excerpt {
  opacity: 0.6;
}

.item__indicator {
  position: absolute;
  right: 1.5em;
  top: -3px;
  width: 30px;
  z-index: 10;
  display: none;

  #books-list & {
    display: block;
  }
}
