.page-header {
  background-position: center bottom;
  background-size: auto 100%;
  background-repeat: no-repeat;

  @include transition(margin-top 0.5s ease);

  &.header-banner {
    height: 300px;
    @include grid-media($large-medium-viewport-grid) {
      height: 320px;
    }
    @include grid-media($xlarge-viewport-grid) {
      height: 600px;
    }
  }

  #citations-list & {
    background-image: url("../img/banner/citation_small_2x.png");

    @include grid-media($large-medium-viewport-grid) {
      background-image: url("../img/banner/citation_medium_2x.png");
    }

    @include grid-media($xlarge-viewport-grid) {
      background-image: url("../img/banner/citation_large_2x.png");
    }
  }

  #books-list & {
    background-image: url("../img/banner/lib_small_2x.png");

    @include grid-media($large-medium-viewport-grid) {
      background-image: url("../img/banner/lib_medium_2x.png");
    }

    @include grid-media($xlarge-viewport-grid) {
      background-image: url("../img/banner/lib_large_2x.png");
    }
  }

   #interventions-list & {
    background-image: url("../img/banner/annotation_small_2x.png");

    @include grid-media($large-medium-viewport-grid) {
      background-image: url("../img/banner/annotation_medium_2x.png");
    }

    @include grid-media($xlarge-viewport-grid) {
      background-image: url("../img/banner/annotation_large_2x.png");
    }
  }
}

#manifest-list .page-header__container {
  min-height: 10rem;
}

.page-header--link {
  text-align: center;
  background: none;
  padding-bottom: 3em;
}

.page-header__link {
  text-decoration: none;
  font-weight: inherit;
}

.page-header__container {
  min-height: 320px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  @media screen and (min-height: 500px) {
    .page-header--condensed & {
      min-height: 16rem;
    }
  }
}

.page-header__heading {
  font-size: ems(20px, 14);
  margin-top: 1rem;
  color: $blue;
  @include secondary-font-style("bold");
}

.page-header__callout {
  color: $base-font-color;
  background: $white;
  padding: 1.5em 2em 0;
  align-self: flex-start;
  position: absolute;
  bottom: 3rem;
  @include grid-column(3);

  @include grid-media($large-medium-viewport-grid) {
    @include grid-column(7);
    margin-left: 6rem;
  }

  @include grid-media($xlarge-viewport-grid) {
    @include grid-column(6);
  }

  .callout__link {
    @include faded-link();
    font-size: ems(12px, 14);
  }

  .lead {
    line-height: 1.2;
    @include secondary-font-style("italic");
    font-size: ems(15px, 14);
  }
}
