.page-header {
  background: $grey-200;

  @include grid-media($xlarge-viewport-grid) {
    margin-top: -$header-row-height;
    transition: margin-top 0.5s ease;
  }
}

.page-header__container {
  min-height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  @media screen and (min-height: 500px) {
    min-height: 60vh;
  }
}

.page-header__heading {
  font-size: 1.6rem;
  margin-top: 1rem;
  color: $blue;
  font-weight: 700;
}

.page-header__callout {
  color: $base-font-color;
  background: $white;
  font-size: 0.9rem;
  padding: 1.5em 2em 0;
  align-self: flex-start;
  position: absolute;
  bottom: 3rem;
  @include grid-column(3);

  @include grid-media($large-medium-viewport-grid) {
    @include grid-column(6);
  }

  .callout__link {
    color: $medium-grey;
    opacity: 0.8;
    text-decoration: none;
    border-bottom: 3px solid lighten($base-font-color, 50%);

    &:hover,
    &:active {
      opacity: 1;
    }
  }

  .lead {
    line-height: 1.2;
    font-weight: 700;
    font-size: 1.6em;
  }
}
