{% extends "pages/page.html" %}
{# template for outwork content #}
{% load mezzanine_tags %}

{% block metadata %}
{{ block.super }}
{% if page.outwork.author %}
    <meta name="DC.Creator" content="{{ page.outwork.author }}" />
{% endif %}
{% if page.outwork.orig_pubdate %}
    <meta name="DC.Date" content="{{ page.outwork.orig_pubdate|date:"c" }}" />
{% endif %}
{% endblock %}

{# suppress description from displaying in header as lead #}
{% block lead %}{% endblock %}

{% block main %}{{ block.super }}
{% if page.outwork.author %}
<div>{{ page.outwork.author }}</div>
{% endif %}

{% if page.outwork.orig_pubdate %}
<div>{{ page.outwork.orig_pubdate }}</div>
{% endif %}

<div>{{ page.description }}</div>

{{ page.outwork.content|richtext_filters|safe }}
{% endblock %}