{% extends "admin/base.html" %}
{# {% load i18n grp_tags static compress %} #}
{% load i18n static compress %}

{# {% block title %}{{ title }} | {% get_site_title %}{% endblock %} #}
{% block title %}{{ title }} | Derrida's Margins Admin{% endblock %}

{% block branding %}
    {# Use the div#grp-branding for branding elements, e.g. a logo #}
    {# <div id="grp-branding">CDH</div> #}
{% endblock %}

{% block nav-global %}
    {# Use the div#grp-branding for branding elements, e.g. a logo #}
    {# <div id="grp-branding">CDH</div> #}
    {% include 'snippets/test_banner.html' %}
    <div id="sw-version">v. {{ SW_VERSION }}</div>
{% endblock %}

 {% block userlinks %}
 {% if perms.djiffy.view_manifest %}
 <li id='iif-books-link'><a href="{% url 'djiffy:list' %}">View Digital Books</a></li>
 {% endif %}
    {{ block.super }}
 {% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/test-banner.css" %}" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {# csrf from mezzanine admin base site template #}
    <script>
    window.__csrf_token = '{{ csrf_token }}';
    </script>
    <script src="{% static "mezzanine/js/admin/ajax_csrf.js" %}"></script>
    {# Since both are in tandem, include both js files in compressor #}
    {% compress js %}
    <script src="{% static 'js/material.min.js' %}"></script>
    <script src="{% static 'js/local.js' %}"></script>
    {% endcompress %}
{% endblock %}
