{% extends "admin/change_form.html" %}
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  <link rel='stylesheet' href='{% static "css/meltdown.css" %}'>
  <style>
    #id_anchor_text {
      width: 95%;
      max-width: 758px;
      margin: auto;
    }
  </style>
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script type='text/javascript' src='{% static "js/lib/js-markdown-extra.js"%}'></script>
  <script type='text/javascript' src='{% static "js/jquery.meltdown.js" %}'></script>
  <script type="text/javascript" src='{% static "js/lib/rangyinputs-jquery.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/lib/element_resize_detection.js" %}'></script>
  <script>
    $(document).ready(function() {
      $('#id_anchor_text').meltdown();
      $('#id_reference_set-0-anchor_text').meltdown();
      });
    });
  </script>

{% endblock %}
