{% load static %}
<script>
  $(function() {
    //transform list items
    var $oldLabels = $(".filter__check-list--authors label"),
        $newLabels = $("<div/>"),
        sortLetters = [];

    $oldLabels.remove();
    $oldLabels.each(function() {
      var $this = $(this),
          $countLabel = $this.children("span"),
          count = $countLabel.text();
      $countLabel.remove();

      var authorName = $this.text().trim(),
          $input = $this.find("input"),
          $label = $("<label/>")
            .addClass("mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect")
            .append(
              $("<input/>").attr({
                id: $input.attr("id"),
                name: $input.attr("name"),
                value: $input.attr("value"),
                checked: $input.attr("checked"),
                type: "checkbox"
              }).addClass("mdl-checkbox__input"))
            .append($("<span/>").addClass("name").text(authorName))
            .append($("<span/>").addClass("filter__count").text(count));

        $newLabels.append($label);
        sortLetters.push(authorName.substr(0, 1));
    });

    $(".filter__check-list--authors").append($newLabels.html());

    var $filterNav = $(".filter__nav"),
        alphabetArray = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".split(""),
        unavailableLetters = alphabetArray.filter(function(i) { return $.unique(sortLetters).indexOf(i) < 0 });

    $.each(alphabetArray, function() {
      var $filterLink = (unavailableLetters.indexOf(this[0]) > -1) ?
        $("<span/>").addClass("filter__nav-link--disabled") :
        $("<a/>").attr({ href: "#" });

      $filterNav.append($filterLink.addClass("filter__nav-link").text(this));
    })


    var authorList = new List("authors", {
      valueNames: [ "name" ],
      listClass: "filter__check-list--authors",
      searchClass: "filter__search-field--authors"
    });

    $(".filter__nav a").on("click", function(e) {
      e.preventDefault();
      var $this = $(this),
          letter = $this.text();
      $this.addClass("is-active").siblings(".is-active").removeClass("is-active")
      authorList.filter(function(item) {
        var name = item.values().name.toLowerCase();
        return name.substr(0, 1) == letter.toLowerCase();
      });

    });

    $(".clear-link").on("click", function(e) {
      e.preventDefault();
      var $checkboxes = $(this).parents(".filter").find(".mdl-checkbox__input");
      $checkboxes.each(function() {
        var $checkbox = $(this);
        $checkbox.removeProp("checked");
        $checkbox.parent().removeClass("is-checked");
      });
      authorList.filter();
    });

    var $authorFilter = $(".filter.filter--author");
    $authorFilter.hide();

    $("#author-selection").on("focus", function() {
        $(this).parent().addClass("is-open");
        $authorFilter.slideDown();
      })
      .on("blur", function(e) {
        e.preventDefault();
        var isOpen = $(this).parent().addClass("is-open");
        if (! isOpen) {
          $authorFilter.slideUp();
        }
      });

    $("body").on("click.filter-author", function(e) {
      var $target = $(e.target),
          $openInput = $authorFilter.prev(".is-open"),
          isOpenText = $target.is(".is-open") || $target.parents(".is-open").length,
          $filter = $target.is(".filter") ? $target : $target.parents(".filter").first();

      if (! $filter.length && ! isOpenText && $openInput.length) {
        $authorFilter.slideUp();
        $openInput.removeClass("is-open").removeClass("is-focused");
      } else if ($openInput.length) {
        $openInput.addClass("is-focused");
      }
    });
  });
</script>


<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" name="author-selection" id="author-selection">
  <label class="mdl-textfield__label" for="author-selection">Author</label>
</div>
<div class="filter filter--author" id="authors">
  <header class="filter__search">
    <label class="mdl-button mdl-js-button mdl-button--icon" for="filter__search-term">
      <img src="{% static "img/icons/Search.svg" %}" />
    </label>
    <input class="filter__search-field filter__search-field--authors" id="filter__search-term" name="filter__search-term" placeholder="Search" />
  </header>

  <nav class="filter__nav"></nav>

  <section class="filter__check-list filter__check-list--authors">
    {% for author in authors %}
      {{author}}
    {% endfor %}
  </section>

  <footer class="filter__footer">
    <a class="clear-link" href="#">Clear Selection</a>
  </footer>
</div>
