{% load static %}
<script>
  $(function() {
    if (window.initYearSelector) {
      window.initYearSelector({
        selector: ".filter.filter--{{name}}",
        fieldName: "{{name}}"
      });
    }
  });
</script>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" id="{{name}}-year-selection" />
  <label class="mdl-textfield__label" for="year-selection">{{label}}</label>
</div>
<div class="filter filter--years filter--{{name}}">
  <header class="filter__search">
    <input class="filter__search-field" id="filter__year-from" name="{{label}}_0" placeholder="Start" />
    <label class="filter__search-label">to</label>
    <input class="filter__search-field" id="filter__year-to" name="{{label}}_1" placeholder="End" />
  </header>

  <section class="filter__histogram">
    <div class="frequency_chart frequency_chart--bar">
      {% for count in ranges.counts %}
        <div class="frequency_chart__bar frequency_chart__bar--{% widthratio count.1 ranges.max 10 %}" data-year="{{count.0}}" data-count="{{count.1}}"></div>
      {% endfor %}
    </div>
    <div class="frequency_chart-axis">
      <span class="chart-label chart-label--start">{{ranges.start}}</span>
      <span class="chart-label chart-label--end">{{ranges.end}}</span>
    </div>
  </section>

  <footer class="filter__footer">
    <a class="clear-link" href="#">Clear Selection</a>
  </footer>
</div>
