{% extends 'djiffy/base.html' %}
{% load static %}

{% block nav-title %} Derrida's Library {% endblock %}

{% block header_class %}mdl-layout__header--transparent{% endblock %}

{% block page-context-id %}books-list{% endblock %}

{% block content %}
  <header class="page-header">
    <div class="container page-header__container">
      <h1 class="page-header__heading">Derrida's Library</h1>
      <div class="page-header__callout">
        <p class="lead">Only books that are cited in De la grammatologie and extant in Princeton University Library collection are displayed here.</p>
        <p><a class="callout__link" href="/">A full list of citations is accessible through Citation List.</a></p>
      </div>
    </div>
  </header>

  {% include "components/page-filter.html" with show_filter=False formItems=form %}
  {% include "components/page-sort.html" with number=count orderBy=orderBy %}

  <div class="container">
  {# TEST version of the form for implementing functionality; integration with design still TODO #}

{# NOTE: author first letters available via solr facet, but may need some processing in the view for display #}

    <article class="collection collection--condensed">
      {% for instance in object_list %}
        {% include 'components/books-list-item.html' with href='books:detail' book=instance %}
      {% endfor %}
    </article>
    {% if is_paginated %}
      {% include "components/page-pagination.html" with page_obj=page_obj %}
    {% endif %}
  </div>
{% endblock %}
