{% extends 'djiffy/base.html' %}
{% load static %}

{% block nav-title %} Derrida's Library {% endblock %}

{% block page-context-id %}books-list{% endblock %}

{% block content %}
  <header class="page-header page-header--link">
    <div class="container">
      <h1 class="page-header__heading"><a href="{% url 'books:list' %}"><i class="material-icons">arrow_back</i> Derrida's Library</a></h1>
    </div>
  </header>
  <article class="item">
    <div class="container">
      {% include 'components/book-details.html' with book=instance %}
    </div>
  </article>
{% endblock %}

{% block page-js %}
  <script type="text/javascript">
    $(function() {
      $("#book-header").stickySidebar({
        topSpacing: 20
      });

      var $navLinks = $(".item-navigation-link"),
          activeClass = "item-navigation-link--active";

      $navLinks.on('click', function(e) {
        var $this = $(this),
            hash = $this.attr('href'),
            $target = $('[name=' + hash.slice(1) + ']');

        if ($target.length) {
          e.preventDefault();
          $this.siblings().removeClass(activeClass);
          $this.addClass(activeClass);
          $this.blur();

          $('body').animate({
            scrollTop: $target.position().top
          }, 500);
        }
      });
    });
  </script>
{% endblock %}
