{% extends 'local/base.html' %}
{% load static %}

{% block page-subtitle %}Derrida's Library ‖ {% endblock %}
{% block nav-title %} Derrida's Library {% endblock %}

{% block header_class %}mdl-layout__header--transparent{% endblock %}

{% block page-context-id %}books-list{% endblock %}

{% block content %}
  <header class="page-header">
    <div class="container page-header__container">
      <h1 class="page-header__heading">Derrida's Library</h1>
      <div class="page-header__callout">
        <p class="lead">Browse Derrida’s personal copies of the books referenced in his published works. Only books extant in the Library of Jacques Derrida collection, held at the Princeton University Library’s Department of Rare Books and Special Collections, are displayed below.</p>
        <p><a class="callout__link" href="{% url 'books:reference-list' %}/">A full list of references is accessible through Reference List.</a></p>
      </div>
    </div>
  </header>

  {% include "components/page-filter.html" with formItems=form %}
  {% include "components/page-sort.html" with number=count orderBy=orderBy %}

  <div class="container">
  {# TEST version of the form for implementing functionality; integration with design still TODO #}

{# NOTE: author first letters available via solr facet, but may need some processing in the view for display #}

    <article class="collection collection--condensed">
      {% for instance in object_list %}
        {% url 'books:detail' instance.slug as instance_url %}
        {% include 'components/books-list-item.html' with href=instance_url book=instance %}
      {% empty %}
        <p>No trace of what you were searching for was found. Try a different keyword.</p>
      {% endfor %}
    </article>
    {% if is_paginated %}
      {% include "components/page-pagination.html" with page_obj=page_obj %}
    {% endif %}
  </div>
{% endblock %}
