{% extends 'djiffy/base.html' %}
{% load static %}
{% block content %}
  <div class="container" id="book-list">
    <article>
    <h1>Browse the Works</h1>
    {% for instance in object_list %}
    <header>
        <h3>{{ instance.work.primary_title }}</h3>
        {% if instance.digital_edition %}
          <a class="pull-left" href="{{ instance.digital_edition.get_absolute_url }}">
        {% if instance.digital_edition.thumbnail %}
          <img class="media-object cover-mini-thumb" src="{{ instance.digital_edition.thumbnail.image.mini_thumbnail }}"/>
        {% endif %}
          </a>
        {% endif %}
    </header>
      <br />
      <dl class='credits'>

      <dt class='credits__role'>Author(s)</dt>
      <dr class='credits__name'>
          {% for author in instance.work.authors.all %}
            {% if not forloop.last %}
              {{ author.authorized_name }};
            {% else %}
              {{ author.authorized_name }}
            {% endif %}
          {% endfor %}
      </dr>
      {% if instance.copyright_year %}
      <dt class='credits__role'>Year</dt>
      <dr class='credits__name'>{{ instance.copyright_year }}<dr>
      {% endif %}
      {# Include copy once that field is added to Instance #}
    </dl>
    <br />
  {% endfor %}
</article>
{% if is_paginated %}
<p class='pagination'>
  {% if page_obj.has_previous %}<a href='?page={{ page_obj.previous_page_number }}'>←</a>{% endif %}

  {% for number in page_obj.paginator.page_range %}
    {# Make sure we get the first page #}
    {% if forloop.first %} <a href='?page={{ number }}'>{{ number }}</a> ... {% endif %}

    {% if number|add:"3" >= page_obj.number and number <= page_obj.number|add:"4" and number != page_obj.number  %}
      <a href='?page={{ number }}'>{{ number }}</a>
    {% endif %}

    {% if number == page_obj.number %}
      <a href='?page={{ number}}' style='color: black'>{{ number }}</a>
    {% endif %}

    {# Make sure we get the last page#}
    {% if forloop.last %} ... <a href='?page={{ number }}'>{{ number}}</a> {% endif%}

  {% endfor %}

  {% if page_obj.has_next %}<a href='?page={{ page_obj.next_page_number }}'>→</a>{% endif %}

</p>
{% endif %}
</div>


{% endblock %}
