{% extends 'djiffy/base.html' %}
{% load static %}

{% block page-subtitle %}{{ instance.work.primary_title }}{% if instance.work.authors.count == 1 %}, {{ instance.work.authors.first.lastname }}{% endif %} {% if instance.print_year or instance.copyright_year %}({% firstof instance.print_year instance.copyright_year %}{% if instance.copy %} - {{ instance.copy }}{% endif %}){% endif %} ‖ {{ canvas.label }} ‖ {% endblock %}
{% block nav-title %} Derrida's Library {% endblock %}

{% block header_class %}mdl-layout__header--transparent{% endblock %}

{% block page-context-id %}books-detail{% endblock %}

{% block content %}
  <header class="page-header page-header--link">
    <div class="container">
      <h1 class="page-header__heading"><a href="{% url 'books:detail-gallery' instance.slug %}"><span class="arrow_icon">←</span> Book Image Gallery</a></h1>
    </div>
  </header>
  <article class="item">
    <div class="container">

        {# brief title information (copied from book-header) #}
        {% with book=instance %}
        <h1 class="item-title">{{ book.work.primary_title }}</h1>
        <p class="item-author">
          {% for author in book.work.authors.all %}
            {% if not forloop.last %}
              {{ author.authorized_name }};
            {% else %}
              {{ author.authorized_name }}
            {% endif %}
          {% endfor %}
        </p>
        <p class="item-term__value">{{ book.copyright_year }}{% if book.copy %} - {{ book.copy }}{% endif %}</p>
        {% endwith %}

        {# locations where cited by Derrida #}
        {% if instance.reference_set.all %}
        Cited in <em>{{ instance.reference_set.all.0.derridawork }}</em>
        <ul>
        {% for reference in instance.reference_set.all %}
            <li>p.{{ reference.derridawork_page }}</li>
        {% endfor %}
        </ul>
        {% endif %}

      {# pages in this volume - navigation list #}

      {# overview images #}
      {% if instance.overview_images %}
      <h3>Overview Images</h3>
      <ul>
      {% for ov_canvas in instance.overview_images %}
          <li><a href="{% url 'books:canvas-detail' instance.slug ov_canvas.short_id %}">
              {{ ov_canvas.label }}</a></li>
      {% endfor %}
      </ul>
      {% endif %}

      {% if instance.annotated_pages %}
      <h3>Annotated pages</h3>
      <ul>
     {% for anno_canvas in instance.annotated_pages %}
          <li><a href="{% url 'books:canvas-detail' instance.slug anno_canvas.short_id %}">
              {{ anno_canvas.label }}</a></li>
      {% endfor %}
      </ul>
      {% endif %}

       {% if instance.insertion_images %}
       <h3>Insertions</h3>
       <ul>
       {% for ins_canvas in instance.insertion_images %}
          <li><a href="{% url 'books:canvas-detail' instance.slug ins_canvas.short_id %}">
              {{ ins_canvas.label }}</a></li>
      {% endfor %}
      </ul>
      {% endif %}


  {# admin form - suppress current page image or all annotated page images for this volume #}
  {# display if suppress form is present and user has permission to change book instance #}
  {% if suppress_form and perms.books.change_instance %}
    {% if instance.suppress_all_images %}
      <p>All annotated page images in this volume are suppressed.</p>
    {% elif canvas_suppressed %}
        <p>This page image is suppressed.</p>
    {% else %}
    <div>
      <form method="POST" action="{% url 'books:suppress-canvas' instance.slug %}">
        {% csrf_token %}
        Suppress {{ suppress_form.suppress }}
        {{ suppress_form.canvas_id }}
        <input type="submit"/>
      </form>
    </div>
    {% endif %}
  {% endif %}

{% comment %}
NOTE: if canvas_suppressed is true, access to page image has been restricted
by an admin due to a copyright holder take-down request.
Display a placeholder for the image, and show all other content.
{% endcomment %}

      {# large size image #}
      <img class="img" src="{% url 'books:canvas-image' instance.slug canvas.short_id 'large' %}" />

      {# image selection zones  #}
       {# {% for intervention in canvas.intervention_set.all %} #}
       {# provides x,y offset and width,height in percentages #}
       {# {{ intervention.extra_data.image_selection }} #}
       {# {% endfor %} #}

        <article class="collection">
       {% for intervention in canvas.intervention_set.all %}
            {% include 'components/intervention-card.html' %}
       {% endfor %}
    </article>

 {# deep zoom #}
<div id="deep-zoom" style="width: 800px; height: 600px;"></div>
<script src="{% static 'js//openseadragon/openseadragon.min.js' %}"></script>
<script type="text/javascript" charset="utf-8">
   $(document).ready(function () {
      // basic seadragon configuration for deep zoom
        var viewer = OpenSeadragon({
          id: "deep-zoom",
          prefixUrl: "{% static 'js/openseadragon/images/' %}",
          tileSources: "{% url 'books:canvas-image' instance.slug canvas.short_id 'info' %}",
      });
    });
</script>

    </div>

{# logo for IIIF provider of digitized item #}
<img src="{{ instance.digital_edition.logo }}" />

{# for now, only supports rightsstatments.org licenses (should work for PUL content) #}
<p>
    {% if instance.digital_edition.license %}
    <a href="{{ instance.digital_edition.license }}">
    <img src="{% static 'img/rightsstatements_org/' %}{{ instance.digital_edition.rights_statement_id }}.svg"/>
    </a>
    {% endif %}

</p>
  </article>
{% endblock %}

