{% extends 'djiffy/base.html' %}
{% load static %}

{% block nav-title %} Derrida's Library {% endblock %}

{% block header_class %}mdl-layout__header--transparent{% endblock %}

{% block page-context-id %}visualizations{% endblock %}

{% block content %}
<header class="page-header page-header--condensed">
  <div class="container page-header__container">
    <h1 class="page-header__heading">Visualization</h1>
    <div class="page-header__callout">
      <p class="lead">Explore all quotations and references in Derrida’s works</p>
      <p><a class="callout__link" href="/">Export Complete List to Zotero</a></p>
    </div>
  </div>
</header>

<div class="container">
  <section class="page-sort">
    <header class="page-sort__header">
      <p class="sort-label">View By</p>
      <a class="sort-link sort-link--active" href="#">Instance of Citation</a>
      <a class="sort-link" href="#">Author of cited work</a>
    </header>
  </section>

  <script>
    $(function() {
      $('.visualization-chapter-marker').webuiPopover({
        trigger:'hover',
        animation:'fade',
        placement:'auto-top',
        arrow: true,
        delay: {
          show: 300,
          hide: 1000
        },
        type: 'async',
        url: '/references/dg101b/' {# placeholder to test #}
      });
    });
  </script>

  {% regroup object_list by instance__work__authors__authorized_name as references_by_author %}
  <article class="visualizations">

    {% for work in references_by_author %}
      <section class="visualization-section">
        <h3 class="visualization-chapter-header">{{ work.grouper|default:'[no author]' }}</h3>

        <div class="visualization-chapter-markers">
          {% for ref in work.list %}
            <div class="visualization-marker-container">
              <a class="visualization-chapter-marker"
              data-href="{% url 'books:reference' derridawork_abbrev=ref.derridawork__abbreviation page=ref.derridawork_page pageloc=ref.derridawork_pageloc %}"
              href="{% url 'books:detail' pk=ref.instance %}"
              id="tt{{ ref.id }}">
                {{ forloop.counter }}
              </a>
              <div class="webui-popover-content">
                <section class="collection__item reference">

                  <p>BookId: {{ref.instance}}</p>
                </section>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
    {% endfor %}
  </article>
</div>
{% endblock %}
