{% extends 'djiffy/base.html' %}
{% load static %}

{% block page-subtitle %}Reference List ‖ {% endblock %}
{% block nav-title %} Derrida's Library {% endblock %}

{% block header_class %}mdl-layout__header--transparent{% endblock %}

{% block page-context-id %}citations-list{% endblock %}

{% block content %}
<header class="page-header">
  <div class="container page-header__container">
    <h1 class="page-header__heading">Reference List</h1>
    <div class="page-header__callout">
      <p class="lead">Explore the quotations and references in Derrida’s works.</p>
      <p><a class="callout__link" href="/">Export Complete List to Zotero.</a></p>
    </div>
  </div>
</header>
{% include "components/page-filter.html" %}
{% include "components/page-sort.html" with number=count orderBy=orderBy %}
<div class="container">
  <article class="collection">
    {% for reference in object_list %}
      {% include 'components/citation-list-item.html' with reference=reference %}
    {% empty %}
        <p>No trace of what you were searching for was found. Try a different keyword.</p>
    {% endfor %}
  </article>
    {% if is_paginated %}
      {% include "components/page-pagination.html" with page_obj=page_obj %}
    {% endif %}

</div>
{% endblock %}
