{% extends 'djiffy/base.html' %}
{% load static %}

{% block nav-title %} Derrida's Library {% endblock %}

{% block header_class %}mdl-layout__header--transparent{% endblock %}

{% block page-context-id %}visualizations{% endblock %}

{% block content %}
<header class="page-header page-header--condensed">
  <div class="container page-header__container">
    <h1 class="page-header__heading">Visualization</h1>
    <div class="page-header__callout">
      <p class="lead">Explore all quotations and references in Derrida’s works</p>
      <p><a class="callout__link" href="/">Export Complete List to Zotero</a></p>
    </div>
  </div>
</header>

<div class="container">
  <section class="page-sort">
    <header class="page-sort__header">
      <p class="sort-label">View By</p>
      <a class="sort-link {% if mode == 'section' %}sort-link--active{% endif %}"
        href="{% url 'books:reference-histogram' derridawork_slug='de-la-grammatologie' %}">Instance of Citation</a>
      <a class="sort-link {% if mode != 'section' %}sort-link--active{% endif %}"
      href="{% url 'books:reference-histogram' %}">Author of cited work</a>
    </header>
  </section>

  <script>
    $(function() {
      $(".visualization-chapter-marker").webuiPopover({
        trigger: "hover",
        animation: "fade",
        placement: "auto-top",
        arrow: true,
        delay: {
          show: 300,
          hide: 1000
        },
        style: "visualization",
        type: "async",
        async: {
           error: function(that, xhr, data) {
             that.$contentElement.children('.icon-refresh').addClass("error");
           }
        }
      });
    });
  </script>

{% if mode == 'section' %}

  <article class="visualizations">
  {% for section in sections %}
    <section class="visualization-section">
       {#  sections with start and end are normal #}
        {% if section.start_page and section.end_page %}
        <h3 class="visualization-chapter-header">{{ section.name }}</h3>
        <div class="visualization-chapter-markers">
        {% for ref in object_list %}
            {% if ref.derridawork_page >= section.start_page and ref.derridawork_page <= section.end_page %}
            <div class="visualization-marker-container">
              <a class="visualization-chapter-marker"
                  data-url="{% url 'books:reference' derridawork_slug=ref.derridawork__slug page=ref.derridawork_page pageloc=ref.derridawork_pageloc %}"
                  href="{% url 'books:detail' pk=ref.instance %}"
                  id="tt{{ ref.id }}">
                {{ forloop.counter }}
              </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
        {% else %}
        {# sections with no start/end are groupings, higher-level sections #}
        <h3 class="visualization-chapter-header" style="color:#9b9b9b">{{ section.name }}</h3>
        {% endif %}
    </section>
  {% endfor %}
</article>

{% else %}

  {% regroup object_list by author as references_by_author %}
  <article class="visualizations">

    {% for work in references_by_author %}
      <section class="visualization-section">
        <h3 class="visualization-chapter-header">{{ work.grouper|default:'[no author]' }}</h3>

        <div class="visualization-chapter-markers">
          {% for ref in work.list %}
            <div class="visualization-marker-container">
              <a class="visualization-chapter-marker"
                 href="{% url 'books:detail' pk=ref.instance %}"
                 id="tt{{ ref.id }}"
                 data-url="{% url 'books:reference' derridawork_slug=ref.derridawork__slug page=ref.derridawork_page pageloc=ref.derridawork_pageloc %}">
                {{ forloop.counter }}
              </a>
            </div>
          {% endfor %}
        </div>
      </section>
    {% endfor %}
  </article>
  {% endif %}
</div>
{% endblock %}
