{% extends 'base.html' %}
{% load static %}

{% block page-subtitle %}{{ page.meta_title }} ‖ {% endblock %}
{% block nav-title %} {{ page.title }} {% endblock %}

{% block header_class %}mdl-layout__header--transparent{% endblock %}

{% block page-context-id %}citations-list{% endblock %}

{% block content %}
<header class="page-header header-banner">
  <div class="container page-header__container">
    <h1 class="page-header__heading"><a class="page-header__link" href="{{ request.path }}">{{ page.title }}</a></h1>
    <div class="page-header__callout">
      <p class="lead">{{ page.description }}</p>
      <p><a class="callout__link" href="/">Export Complete List to Zotero.</a></p>
    </div>
  </div>
</header>
{% include "components/page-filter.html" %}
{% include "components/page-sort.html" with number=count orderBy=orderBy %}
<div class="container">
  <article class="collection">
    {% for reference in object_list %}
      {% include 'components/citation-list-item.html' with reference=reference %}
    {% empty %}
      {% include 'components/search-results-empty.html' %}
    {% endfor %}
  </article>
    {% if is_paginated %}
      {% include "components/page-pagination.html" with page_obj=page_obj %}
    {% endif %}

</div>
{% endblock %}
