{% extends 'djiffy/base.html' %}
{% load static %}

{% block page-subtitle %}Search ‖ {% endblock %}
{% block nav-title %} Derrida's Library {% endblock %}

{% block header_class %}mdl-layout__header--transparent{% endblock %}

{% block page-context-id %}search-results{% endblock %}

{% block search-form-classes %}{% endblock %}

{% block content %}
<header class="page-header">
  <div class="container page-header__container">
    <h1 class="page-header__heading">Search Results</h1>
  </div>
</header>

<div class="container">
  <article class="collection collection--no-images">
    <header class="collection__header">
      <h2 class="collection__title">
        <a href="{% url 'books:list' %}?query={{ query }}">Library Books {% if instance_count %}<span class="arrow_icon">→</span><span>View {{ instance_count }} Result{{ instance_count|pluralize }}</span>{% endif %}</a>
      </h2>
    </header>
    {% for book in instance_list %}
      {% include 'components/books-list-item.html' %}
       {# with href='books:list' img='img/bookimg/cover1.png' itemType='book--short' %}π #}
      {% empty %}
      <p>No results were found. Try a different keyword.</p>
    {% endfor %}
  </article>

  <article class="collection collection--no-images">
    <header class="collection__header">
      <h2 class="collection__title">
        <a href="{% url 'books:reference-list' %}">References {% if reference_count %}<span class="arrow_icon">→</span><span>View {{ reference_count }} Result{{ reference_count|pluralize }}</span>{% endif %}</a>
      </h2>
    </header>

    {% for reference in reference_list %}
      {% include 'components/citation-list-item.html' with reference=reference %}
      {% empty %}
      <p>No results were found. Try a different keyword.</p>
    {% endfor %}


    {# {% include 'components/collection-item.html' with href='books:list' img='img/bookimg/cover1.png' %} #}

    {# {% include 'components/collection-item.html' with href='books:list' img='img/bookimg/cover2.png' %} #}

    {# {% include 'components/collection-item.html' with href='books:list' img='img/bookimg/cover3.png' %} #}

  </article>

  <article class="collection collection--no-images">
    <header class="collection__header">
      <h2 class="collection__title">
      <a href="{% url 'interventions:list' %}?query={{ query }}">Annotations <span class="=arrow_icon">→</span>
        <span>View {{ intervention_count }} Result{{ intervention_count|pluralize }}</span></a>
    </h2>
    </header>
    {% for intervention in intervention_list %}
        {% include 'components/intervention-list-item.html' %}
    {% empty %}
      <p>No results were found. Try a different keyword.</p>
    {% endfor %}

    {# {% include 'components/collection-item.html' with href='books:list' img='img/bookimg/cover3.png' itemType='annotation' %} #}

  </article>

  <article class="collection collection--no-images">
    <header class="collection__header">
      <h2 class="collection__title">
        <a href="#">Outworks <span>→</span><span>View All</span></a>
      </h2>
    </header>

    {% include 'components/collection-item.html' with href='books:list' img='img/bookimg/cover1.png' itemType='outwork' %}

    {% include 'components/collection-item.html' with href='books:list' img='img/bookimg/cover2.png' itemType='outwork' %}

    {% include 'components/collection-item.html' with href='books:list' img='img/bookimg/cover3.png' itemType='outwork' %}

  </article>
</div>
{% endblock %}
