{% load static compress %}


{# Counter will need to be re-enabled for font css in production #}
{% compress css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/MyFontsWebfontsKit.css' %}">
{% endcompress %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static "css/material.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/webui-popover.min.css" %}" />
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static "scss/style.scss" %}" />
{% endcompress %}
