#visualizations {
  padding-bottom: 6em;

  .page-sort__header {
    padding: 0.5rem 0 0;
  }
}

.visualizations {
  color: $base-font-color;
}

.visualization-part-header {
  font-family: $base-font-family;
  font-size: 0.9em;
  margin: 0;
  color: $medium-grey;
}

.visualization-part-header,
.visualization-section {
  padding-bottom: 1.5em;
}

.visualization-section {
  display: flex;
  align-items: flex-start;
}

.visualization-chapter-header {
  font-family: $base-font-family;
  font-weight: 400;
  font-size: 0.9em;
  padding-right: 2rem;
  margin: 0;
  min-width: 7rem;
  width: 7rem;
}

.visualization-chapter-markers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.visualization-marker-container {
  position: relative;
  margin: 0.33em;
  display: block;
  width: 10px;
  height: 10px;
}

.visualization-chapter-marker {
  width: 10px;
  height: 10px;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  color: transparent;
  background: $primary-color;

  &:hover,
  &.active {
    color: transparent;
    background: $pink;
  }
}

.wrap {
  position: absolute;
  overflow: hidden;
  top: -308px;
  right: -15rem;
  padding: 1em;
  display: block;
  border-radius: 4px;
  transform: translateY(20px);
  transition: all 0.5s;
  visibility: hidden;
  height: 300px;
  width: 450px;

  .content {
    opacity: 0;

    .collection__item {
      border: 0;
    }
  }

  &::before {
    position: absolute;
    width: 1px;
    height: 1px;
    background: $white;
    content: "";
    bottom: 10px;
    left: 50%;
    top: 95%;
    color: $white;
    border-radius: 50%;
    transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &.active {
    display: block;
    visibility: visible;
    box-shadow: 2px 3px 16px $light-grey;
    transform: translateY(0);
    transition: all 0.5s;

    &::before {
      height: 2000px;
      width: 2000px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      margin-left: -1000px;
      margin-top: -1000px;
      display: block;
      transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .content {
      position: relative;
      z-index: 1;
      opacity: 1;
      transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }
}
