{# annotation card for display with large page image #}
<section class="collection__item item annotation marginalia-item" data-ref-id="{{ intervention.id }}">
  <div class="item__body">
    <div class="item__body__header">
      {% for annotype in intervention.annotation_type %}
        {% if annotype != 'nonverbal annotation' and annotype != 'verbal annotation' %}
          <a class="text-badge text-badge--red text-badge--link" href="{% url 'interventions:list' %}?annotation_type={{ annotype }}" title="view all {{ annotype }}">{{ annotype }}</a>
        {% endif %}
      {% endfor %}

      <a class="item__link" href="#annotations/{{ intervention.id }}">Permalink</a>
    </div>

    {# suppress intervention author when it is Derrida, since that is nearly all of them #}
    {% if intervention.author.firstname_last != "Jacques Derrida" %}
    <h3 class="item__heading"><span>{% firstof intervention.author.firstname_last 'Unknown' %}</span></h3>
    {% endif %}
    {% if intervention.text_language %}
      <p class="item__language">Anchor Text: {{ intervention.text_language | default:"French" }}</p>
    {% endif %}
    {% if intervention.text %}
      <h3>Annotation:</h3>
      <p class="item__excerpt">{{ intervention.text }}</p>
    {% endif %}
    {% if intervention.quote %}
      <h3>Anchor text:</h3>
      <p class="item__excerpt">{{ intervention.quote }}</p>
    {% endif %}
  </div>
</section>
