{% extends "admin/change_form.html" %}

{% load admin_static i18n admin_modify admin_urls grp_tags %}

{% block after_related_objects %}
<div class="inline-group grp-group grp-tabular">
    <h2 class="grp-collapse-handler">To Relationships</h2>
    <!-- container -->
    <div class="tabular inline-related grp-module grp-table">
        <div class="module grp-module grp-thead">
            <div class="grp-tr">
                <div class="grp-th">From person</div>
                <div class="grp-th">Relationship type</div>
                <div class='grp-th'>To person</div>
                <div class="grp-th">Start year</div>
                <div class="grp-th">End year</div>
                <div class="grp-th">Notes</div>
            </div>
        </div>            <!-- element -->
            <div class="form-row grp-module grp-tbody"
                id="to-relationship-read-only">
                {% for relation in original.to_relationships.all %}
                  <div class="grp-tr">

                    <div class="grp-td">
                      <a href='{% url "admin:people_person_change" relation.from_person.pk %}'>
                        {{ relation.from_person }}
                      </a>
                    </div>
                    <div class='grp-td'>
                      {{ relation.relationship_type }}
                    </div>
                    <div class='grp-td'>
                      {{ original.authorized_name }}
                    </div>
                    <div class='grp-td'>
                      {{ relation.start_year|default_if_none:" " }}
                    </div>
                    <div class='grp-td'>
                      {{ relation.end_year|default_if_none:" " }}
                    </div>
                    <div class='grp-td'>
                      {{ relation.notes }}
                    </div>


                </div>
                {% endfor %}
            </div>
    </div>

</div>
<div class="inline-group grp-group grp-tabular">
    <h2 class="grp-collapse-handler">Associated Books</h2>
    <!-- container -->
    <div class="tabular inline-related grp-module grp-table">
        <div class="module grp-module grp-thead">
            <div class="grp-tr">
                <div class="grp-th">Title</div>
                <div class="grp-th">Publication Year</div>
                <div class='grp-th'>Type of Relationship (i.e., owner)</div>
                <div class="grp-th">Start Year (of relationship)</div>
                <div class="grp-th">End year (of relationship)</div>
                <div class="grp-th">Notes</div>
            </div>
        </div>            <!-- element -->
            <div class="form-row grp-module grp-tbody"
                id="to-relationship-read-only">
                {% for personbook in original.personbook_set.all %}
                  <div class="grp-tr">
                    <div class="grp-td">
                      <a href='{% url "admin:books_book_change" personbook.book.pk %}'>
                        {{ personbook.book.title }}
                      </a>
                    </div>
                    <div class='grp-td'>
                      {{ personbook.book.pub_year }}
                    </div>
                    <div class='grp-td'>
                      <a href='{% url "admin:books_personbook_change" personbook.pk %}'>
                        {{ personbook.relationship_type }}
                      </a>
                    </div>
                    <div class='grp-td'>
                      {{ personbook.start_year|default_if_none:" " }}
                    </div>
                    <div class='grp-td'>
                      {{ personbook.end_year|default_if_none:" " }}
                    </div>
                    <div class='grp-td'>
                      {{ personbook.notes }}
                    </div>


                </div>
                {% endfor %}
            </div>
    </div>

</div>


{% endblock %}
