{% load static %}

<section class="collection__item item">
  <figure class="item__image">
    {% if href %}
    <a class="item__image-link" href="{% url href %}">
    {% endif %}
      {% if img %}
      <img class="img" src="{% static img %}" />
      {% else %}
      <span class="img img--placeholder"></span>
      {% endif %}
    {% if href %}
    </a>
    {% endif %}
  </figure>
  <div class="item__body">
    <a class="text-badge text-badge--blue text-badge--link" href="#">Reference</a>
    <h3 class="item__heading"><a class="item__link" href="#">Cours de linguistique générale</a></h3>
    <p class="item__author">Ferdinand de Saussure</p>
    <p class="item__date">1931</p>
    <p class="item__location">pp 169-280</p>
    <p class="item__excerpt">Je ne sais comment cela se fait, mais je sais bien que les opérations dont on tient le plus de registres et de livres de compte sont précisément celles où l’on friponne le plus.</p>
    <p class="item__citation">Cited in De la grammatologie  p. 401</p>
  </div>
</section>
