{% load static %}

<footer class="mdl-mega-footer">
  <div class="grid-container">
    <div class="mdl-mega-footer__middle-section">

      <div class="mdl-mega-footer-section">
        <a class="mdl-mega-footer__heading" href="{% url 'home' %}">Home</a>
        <a class="mdl-mega-footer__heading" href="{% url 'home' %}">How to Cite</a>
        <a class="mdl-mega-footer__heading" href="{% url 'home' %}">Contact</a>
      </div>

      <div class="mdl-mega-footer-section">
        <a class="mdl-mega-footer__heading" href="{% url 'books:list' %}">Derrida's Library</a>
        <a class="mdl-mega-footer__heading" href="{% url 'djiffy:list' %}">Visualization</a>
        <a class="mdl-mega-footer__heading" href="{% url 'citations-list' %}">Citation List</a>
        <a class="mdl-mega-footer__heading" href="{% url 'djiffy:list' %}">Outwork</a>
      </div>

      <div class="mdl-mega-footer-section mdl-mega-footer__branding-section">
        <div class="mdl-mega-footer__logos">
          <a href="{% url 'home' %}" title="Derrida's Margin Home"><img class="logo" width="150" src="{% static "img/derrida_VI_logo_full.svg" %}"/></a>
          <a href="https://cdh.princeton.edu" title="CDH @ Princeton"><img class="logo" height="70" src="{% static "img/CDH_logo_01.svg" %}"/></a>
          <a href="https://www.princeton.edu" title="Princeton University"><img class="logo" height="80" src="{% static "img/PU_logo_web_XL.svg" %}"/></a>
        </div>
        <p class="mdl-mega-footer__legal">©2017 Trustees of Princeton University</p>
      </div>
    </div>

    <div class="mdl-mega-footer__bottom-section">
      <p id="sw_version">{{ SW_VERSION }}</p>
      {% block footer-content %}{% endblock %}
    </div>
  </div>
</footer>
