{% load static %}
<footer class="mdl-mega-footer">
  <div class="grid-container">
    <div class="mdl-mega-footer__middle-section">

      <div class="mdl-mega-footer-section">
        <a class="mdl-mega-footer__heading" href="{% url 'library' %}">Home</a>
        <a class="mdl-mega-footer__heading" href="{% url 'library' %}">How to Cite</a>
        <a class="mdl-mega-footer__heading" href="{% url 'library' %}">Contact</a>
      </div>

      <div class="mdl-mega-footer-section">
        <a class="mdl-mega-footer__heading" href="{% url 'library' %}">Derrida's Library</a>
        <a class="mdl-mega-footer__heading" href="{% url 'djiffy:list' %}">Visualization</a>
        <a class="mdl-mega-footer__heading" href="{% url 'citations-list' %}">Citation List</a>
        <a class="mdl-mega-footer__heading" href="{% url 'djiffy:list' %}">Outwork</a>
      </div>

      <div class="mdl-mega-footer-section mdl-mega-footer__branding-section">
        <div class="mdl-mega-footer__logos">
          <img src="{% static "img/margin-logo.png" %}"/>
          <img src="{% static "img/margin-logo.png" %}"/>
        </div>
        <p class="mdl-mega-footer__legal">©2017 Trustees of Princeton University</p>
      </div>
    </div>

    <div class="mdl-mega-footer__bottom-section">
      <p id="sw_version">{{ SW_VERSION }}</p>
      {% block footer-content %}{% endblock %}
    </div>
  </div>
</footer>
