{% load static widget_tweaks %}

<section class="page-filter {% if not hide_filter %}is-visible{% endif %}">
<form>
  <div class="container">
    <header class="page-filter__header">
      <p>Only show cited books that:</p>
    </header>

    <section class="filter__section">

      {% if form.is_extant %}
      <div class="filter__selector"> {# is_extant #}
        <label class="mdl-switch__label mdl-switch__label--right" for="is-extant">{{ form.is_extant.label }}
          <span class="mdl-switch mdl-switch--right mdl-js-switch">
            {% render_field form.is_extant class="mdl-switch__input" id="is-extant" %}
          </span>
        </label>
      </div>
      {% endif %}

      {% if form.is_annotated %}
      <div class="filter__selector">  {# is_annotated #}
        <label class="mdl-switch__label mdl-switch__label--right" for="contains-annotation">{{ form.is_annotated.label }}
          <span class="mdl-switch mdl-switch--right mdl-js-switch">
            {% render_field form.is_annotated class="mdl-switch__input" id="contains-annotation" %}
          </span>
        </label>
      </div>
      {% endif %}

      {% if form.instance_is_extant %}
        <div class="filter__selector">
          <label class="mdl-switch__label mdl-switch__label--right" for="id_instance_is_extant">{{ form.instance_is_extant.label }}
            <span class="mdl-switch mdl-switch--right mdl-js-switch">
              {% render_field form.instance_is_extant class="mdl-switch__input" id="id_instance_is_extant" %}
            </span>
          </label>
        </div>
      {% endif %}

      {% if form.instance_is_annotated %}
      <div class="filter__selector">
        <label class="mdl-switch__label mdl-switch__label--right" for="id_instance_is_annotated">{{ form.instance_is_annotated.label }}
          <span class="mdl-switch mdl-switch--right mdl-js-switch">
            {% render_field form.instance_is_annotated class="mdl-switch__input" id="id_instance_is_annotated" %}
          </span>
        </label>
      </div>
      {% endif %}

      {% if form.query %}
      <div class="filter__selector">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          {% render_field form.query class="mdl-textfield__input" id="id_query" %}
          <label class="mdl-textfield__label" for="query">Text Search</label>
        </div>
      </div>
      {% endif %}

      {% if form.author %}
      <div class="filter__selector">
        {% include 'components/form/author-selection.html' with authors=form.author %}
      </div>
      {% endif %}

      {% if form.subject %}
      <div class="filter__selector">
        {% include 'components/form/checkbox-selection.html' with name='subject' label='Subject' items=form.subject %}
      </div>
      {% endif %}

      {% if form.derridawork %}
      <div class="filter__selector filter__selector--condensed">
        {% include 'components/form/checkbox-selection.html' with name='derridawork' label='Derrida Work' items=form.derridawork %}
      </div>
      {% endif %}

      {% if form.language %}
      <div class="filter__selector filter__selector--condensed">
        {% include 'components/form/checkbox-selection.html' with name='language' label='Original Language' items=form.language %}
      </div>
      {% endif %}

      {% if form.work_language %}
      <div class="filter__selector filter__selector--condensed">
        {% include 'components/form/checkbox-selection.html' with name='work_language' label='Language of Publication' items=form.work_language %}
      </div>
      {% endif %}

      {% if form.pub_place %}
      <div class="filter__selector filter__selector--condensed">
        {% include 'components/form/checkbox-selection.html' with name='pub_place' label='Publication Place' items=form.pub_place %}
      </div>
      {% endif %}

      {% if form.item_type %}
      <div class="filter__selector filter__selector--condensed">
        {% include 'components/form/checkbox-selection.html' with name='publication_type' label='Publication Type' items=form.item_type %}
      </div>
      {% endif %}

      {% if form.reference_type %}
      <div class="filter__selector filter__selector--condensed">
        {% include 'components/form/checkbox-selection.html' with name='reference_type' label='Reference Type' items=form.reference_type %}
      </div>
      {% endif %}

      {% if form.cited_in %}
      <div class="filter__selector filter__selector--condensed">
        {% include 'components/form/checkbox-selection.html' with name='cited_in' label='Cited In' items=form.cited_in %}
      </div>
      {% endif %}

      <input type="submit" class="mdl-button mdl-js-button mdl-button--primary"/>
    </section>
  </div>
  <div class="hidden">{{form.order_by}}</div>
  </form>
  <footer class="page-filter__footer">
    <div class="page-filter__status-icon">
      <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M8.48,3.25a2,2,0,0,0-3.55,0H2.4v2H5a2,2,0,0,0,3.34,0H17.6v-2Z" fill="#979797"/><path d="M13.4,8.25a2,2,0,0,0-1.51.7H2.4v2h9.13a2,2,0,0,0,3.73,0H17.6V9H14.91A2,2,0,0,0,13.4,8.25Z" fill="#979797"/><path d="M6.8,13.85a2,2,0,0,0-1.59.8H2.4v2H5a2,2,0,0,0,3.66,0h9v-2H8.39A2,2,0,0,0,6.8,13.85Z" fill="#979797"/></svg>
    </div>
    <button class="toggle-button">
      <i class="md-icon material-icons md-icon--hide">keyboard_arrow_down</i>
      <i class="md-icon material-icons md-icon--show">keyboard_arrow_up</i>
    </button>
  </footer>
</section>
