<section class="page-sort">
  <div class="container">
    <header class="page-sort__header">
      <p class="sort-label sort-label--diminished ">90 Results</p>
      <a class="sort-link sort-link--danger" href="#">Clear All</a>
    </header>
    <header class="page-sort__header">
      <p class="sort-label">Sort By</p>
      <a class="sort-link sort-link--active" href="#">Page Order in Derrida work</a>
      <a class="sort-link" href="#">Author of cited work</a>
      <a class="sort-link" href="#">Title of cited work</a>
    </header>
  </div>
</section>
