{% load widget_tweaks %}

<script>
  $(function() {
    var $pageFilter = $(".page-filter"),
        $container = $pageFilter.find('.container');

    if (! $pageFilter.hasClass('is-visible')) {
      $container.hide();
    }

    $(".toggle-button").on('click', function(e) {
      e.preventDefault();
      if ($pageFilter.hasClass('is-visible')) {
        $pageFilter.removeClass('is-visible');
        $container.slideUp(500);
      } else {
        $pageFilter.addClass('is-visible');
        $container.slideDown(500);
      }
    });
  });
</script>

<section class="page-filter {% if show_filter %}is-visible{% endif %}">
<form>
  <div class="container">
    <header class="page-filter__header">
      <p>Only show cited books that:</p>
    </header>

    <section class="filter__section">
      <div class="filter__selector"> {# is_extant #}
        <label class="mdl-switch__label mdl-switch__label--right" for="is-extant">{{ form.is_extant.label }}
        {# <span class="mdl-switch mdl-switch--right mdl-js-switch"> #}
         {# {% render_field form.is_extant class="mdl-switch__input" %} #}
        {% render_field form.is_extant %}
        {# </span> #}
        </label>
      </div>

      <div class="filter__selector">  {# is_annotated #}
        <label class="mdl-switch__label mdl-switch__label--right" for="contains-annotation">{{ form.is_annotated.label }}
        {# <span class="mdl-switch mdl-switch--right mdl-js-switch"> #}
        {% render_field form.is_annotated class="mdl-switch__input" %}
          {# <input type="checkbox" id="contains-annotation" class="mdl-switch__input" checked /> #}
        {# </span> #}
        </label>
      </div>

      <div class="filter__selector">
        <label class="mdl-switch__label mdl-switch__label--right" for="contains-corresponding-annotation">Containing corresponding annotation
        <span class="mdl-switch mdl-switch--right mdl-js-switch">
          <input type="checkbox" id="contains-corresponding-annotation" class="mdl-switch__input" checked />
        </span>
        </label>
      </div>
    </section>

    <section class="filter__section">
      <div class="filter__selector">
        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
          <select class="mdl-selectfield__select" id="author" name="author">
            <option value=""></option>
            <option value="option1">option 1</option>
            <option value="option2">option 2</option>
            <option value="option3">option 3</option>
            <option value="option4">option 4</option>
            <option value="option5">option 5</option>
          </select>
          <label class="mdl-selectfield__label" for="author">Author</label>
        </div>
      </div>

      <div class="filter__selector filter__selector--condensed">
        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
          <select class="mdl-selectfield__select" id="subject" name="subject">
            <option value=""></option>
            <option value="option1">option 1</option>
            <option value="option2">option 2</option>
            <option value="option3">option 3</option>
            <option value="option4">option 4</option>
            <option value="option5">option 5</option>
          </select>
          <label class="mdl-selectfield__label" for="subject">Subject</label>
        </div>
      </div>

      <div class="filter__selector">
        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
          <select class="mdl-selectfield__select" id="language-published" name="language-published">
            <option value=""></option>
            <option value="option1">option 1</option>
            <option value="option2">option 2</option>
            <option value="option3">option 3</option>
            <option value="option4">option 4</option>
            <option value="option5">option 5</option>
          </select>
          <label class="mdl-selectfield__label" for="language-published">Language of Publication</label>
        </div>
      </div>

      <div class="filter__selector">
        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
          <select class="mdl-selectfield__select" id="language-original" name="language-original">
            <option value=""></option>
            <option value="option1">option 1</option>
            <option value="option2">option 2</option>
            <option value="option3">option 3</option>
            <option value="option4">option 4</option>
            <option value="option5">option 5</option>
          </select>
          <label class="mdl-selectfield__label" for="language-original">Original Language</label>
        </div>
      </div>

      <div class="filter__selector">
        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
          <select class="mdl-selectfield__select" id="place-published" name="place-published">
            <option value=""></option>
            <option value="option1">option 1</option>
            <option value="option2">option 2</option>
            <option value="option3">option 3</option>
            <option value="option4">option 4</option>
            <option value="option5">option 5</option>
          </select>
          <label class="mdl-selectfield__label" for="place-published">Place of Publication</label>
        </div>
      </div>

      <div class="filter__selector">
        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
          <select class="mdl-selectfield__select" id="year-published" name="year-published">
            <option value=""></option>
            <option value="option1">option 1</option>
            <option value="option2">option 2</option>
            <option value="option3">option 3</option>
            <option value="option4">option 4</option>
            <option value="option5">option 5</option>
          </select>
          <label class="mdl-selectfield__label" for="year-published">Original Publication Year</label>
        </div>
      </div>

      <div class="filter__selector filter__selector--condensed">
        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
          <select class="mdl-selectfield__select" id="year-edition" name="year-edition">
            <option value=""></option>
            <option value="option1">option 1</option>
            <option value="option2">option 2</option>
            <option value="option3">option 3</option>
            <option value="option4">option 4</option>
            <option value="option5">option 5</option>
          </select>
          <label class="mdl-selectfield__label" for="year-edition">Edition Year</label>
        </div>
      </div>

      <div class="filter__selector filter__selector--condensed">
        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
          <select class="mdl-selectfield__select" id="year-printing" name="year-printing">
            <option value=""></option>
            <option value="option1">option 1</option>
            <option value="option2">option 2</option>
            <option value="option3">option 3</option>
            <option value="option4">option 4</option>
            <option value="option5">option 5</option>
          </select>
          <label class="mdl-selectfield__label" for="year-printing">Printing Year</label>
        </div>
      </div>

      <div class="filter__selector filter__selector--condensed">
        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
          {# {{ form.item_type }} #}
          {# FIXME: label/field name should come from the form #}
          <select class="mdl-selectfield__select" id="citation-type" name="citation-type">
            <option value=""></option>
            {% for item_type, count in facets.fields.item_type %}
              <option value="{{ item_type }}">{{ item_type }} {{ count }}</option>
            {% endfor %}
            {# <option value="option2">option 2</option> #}
            {# <option value="option3">option 3</option> #}
            {# <option value="option4">option 4</option> #}
            {# <option value="option5">option 5</option> #}
          </select>
          <label class="mdl-selectfield__label" for="citation-type">{{ form.item_type.label }}</label>
        </div>
      </div>

      <div class="filter__selector">
        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
          <select class="mdl-selectfield__select" id="derrida-citation" name="derrida-citation">
            <option value=""></option>
            <option value="option1">option 1</option>
            <option value="option2">option 2</option>
            <option value="option3">option 3</option>
            <option value="option4">option 4</option>
            <option value="option5">option 5</option>
          </select>
          <label class="mdl-selectfield__label" for="derrida-citation">Cited by Derrida in</label>
        </div>
      </div>
    </section>
    <input type="submit"/>
  </div>
  </form>
  <footer class="page-filter__footer">
    <button class="toggle-button">
      <i class="md-icon material-icons md-icon--hide">keyboard_arrow_down</i>
      <i class="md-icon material-icons md-icon--show">keyboard_arrow_up</i>
    </button>
  </footer>
</section>
