<div class="pagination">
    <span class="step-links">
        <a class="pagination__nav-link" href="?page=1"><i class="md-icon material-icons">arrow_back</i></a>

        <nav class="pagination__page-links">
          <a href="#" class="pagination__page-link">1</a>
          <span class="pagination__page-link-seperator">...</span>
          <a href="#" class="pagination__page-link">8</a>
          <a href="#" class="pagination__page-link">9</a>
          <a href="#" class="pagination__page-link">10</a>
          <a href="#" class="pagination__page-link pagination__page-link--current">11</a>
          <a href="#" class="pagination__page-link">12</a>
          <span class="pagination__page-link-seperator">...</span>
          <a href="#" class="pagination__page-link">60</a>
        </nav>

        <a class="pagination__nav-link" href="?page=2"><i class="md-icon material-icons">arrow_forward</i></a>
    </span>
</div>
