{% load widget_tweaks %}

<script>
  $(function() {
    var $pageFilter = $(".page-filter"),
        $container = $pageFilter.find('.container');

    if (! $pageFilter.hasClass('is-visible')) {
      $container.hide();
    }

    $(".toggle-button").on('click', function(e) {
      e.preventDefault();
      if ($pageFilter.hasClass('is-visible')) {
        $pageFilter.removeClass('is-visible');
        $container.slideUp(500);
      } else {
        $pageFilter.addClass('is-visible');
        $container.slideDown(500);
      }
    });
  });
</script>

<section class="page-filter {% if show_filter %}is-visible{% endif %}">
<form>
  <div class="container">
    <header class="page-filter__header">
      <p>Only show cited books that:</p>
    </header>

    <section class="filter__section">

      {% if form.is_extant %}
      <div class="filter__selector"> {# is_extant #}
        <label class="mdl-switch__label mdl-switch__label--right" for="is-extant">{{ form.is_extant.label }}
          <span class="mdl-switch mdl-switch--right mdl-js-switch">
            {% render_field form.is_extant class="mdl-switch__input" id="is-extant" %}
          </span>
        </label>
      </div>
      {% endif %}

      {% if form.is_annotated %}
      <div class="filter__selector">  {# is_annotated #}
        <label class="mdl-switch__label mdl-switch__label--right" for="contains-annotation">{{ form.is_annotated.label }}
          <span class="mdl-switch mdl-switch--right mdl-js-switch">
            {% render_field form.is_annotated class="mdl-switch__input" id="contains-annotation" %}
          </span>
        </label>
      </div>
      {% endif %}

      {% if form.instance_is_extant %}
        <div class="filter__selector">
          <label class="mdl-switch__label mdl-switch__label--right" for="id_instance_is_extant">{{ form.instance_is_extant.label }}
            <span class="mdl-switch mdl-switch--right mdl-js-switch">
              {% render_field form.instance_is_extant class="mdl-switch__input" id="id_instance_is_extant" %}
            </span>
          </label>
        </div>
      {% endif %}

      {% if form.instance_is_annotated %}
      <div class="filter__selector">
        <label class="mdl-switch__label mdl-switch__label--right" for="id_instance_is_annotated">{{ form.instance_is_annotated.label }}
          <span class="mdl-switch mdl-switch--right mdl-js-switch">
            {% render_field form.instance_is_annotated class="mdl-switch__input" id="id_instance_is_annotated" %}
          </span>
        </label>
      </div>
      {% endif %}

      {% if form.query %}
      <div class="filter__selector">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="query" id="id_query">
          <label class="mdl-textfield__label" for="query">Text Search</label>
        </div>
      </div>
      {% endif %}

      {% if form.author %}
      <div class="filter__selector">
        {% include 'components/form/author-selection.html' with authors=form.author %}
      </div>
      {% endif %}

      {% if form.subject %}
      <div class="filter__selector">
        {% include 'components/form/checkbox-selection.html' with name='subject' label=form.subject.label items=form.subject %}
      </div>
      {% endif %}

      {% if form.derridawork %}
      <div class="filter__selector filter__selector--condensed">
        {% include 'components/form/checkbox-selection.html' with name='derridawork' label=form.derridawork.label items=form.derridawork %}
      </div>
      {% endif %}

      {% if form.language %}
      <div class="filter__selector filter__selector--condensed">
        {% include 'components/form/checkbox-selection.html' with name='language' label=form.language.label items=form.language %}
      </div>
      {% endif %}

      {% if form.work_language %}
      <div class="filter__selector filter__selector--condensed">
        {% include 'components/form/checkbox-selection.html' with name='work_language' label=form.work_language.label items=form.work_language %}
      </div>
      {% endif %}

      {% if form.original_language %}
      <div class="filter__selector filter__selector--condensed">
        {% include 'components/form/checkbox-selection.html' with name='original_language' label=form.original_language.label items=form.original_language %}
      </div>
      {% endif %}


      {% if form.pub_place %}
      <div class="filter__selector filter__selector--condensed">
        {% include 'components/form/checkbox-selection.html' with name='pub_place' label=form.pub_place.label items=form.pub_place %}
      </div>
      {% endif %}

      {% if form.item_type %}
      <div class="filter__selector filter__selector--condensed">
        {% include 'components/form/checkbox-selection.html' with name='publication_type' label=form.item_type.label items=form.item_type %}
      </div>
      {% endif %}

      {% if form.reference_type %}
      <div class="filter__selector filter__selector--condensed">
        {% include 'components/form/checkbox-selection.html' with name='reference_type' label=form.reference_type.label items=form.reference_type %}
      </div>
      {% endif %}

      {% if form.cited_in %}
      <div class="filter__selector filter__selector--condensed">
        {% include 'components/form/checkbox-selection.html' with name='cited_in' label=form.cited_in.label items=form.cited_in %}
      </div>
      {% endif %}

      <input type="submit" class="mdl-button mdl-js-button mdl-button--primary"/>
    </section>
  </div>
  <div class="hidden">{{form.order_by}}</div>
  </form>
  <footer class="page-filter__footer">
    <button class="toggle-button">
      <i class="md-icon material-icons md-icon--hide">keyboard_arrow_down</i>
      <i class="md-icon material-icons md-icon--show">keyboard_arrow_up</i>
    </button>
  </footer>
</section>
