<section class="container">
  <form class="search-form-header__form" action="{% url 'search' %}">
    <label class="mdl-button mdl-js-button mdl-button--icon" for="search-term">
      <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="search-term" name="term">
      <label class="mdl-textfield__label" for="search-term">Search Terms...</label>
    </div>
    <div class="mdl-selectfield mdl-js-selectfield">
      <select class="mdl-selectfield__select" id="search-filter" name="filter">
        <option value="all">All</option>
        <option value="book">Books</option>
        <option value="citation">Citations</option>
        <option value="annotation">Annotations</option>
      </select>
    </div>
    <div class="mdl-button mdl-js-button mdl-button--icon" data-action="toggle-search-form">
      <i class="material-icons">close</i>
    </div>
    <input type="submit" class="hidden" />
  </form>
</section>
