{% if form.query or search_form.query %}
<script>
  $(function() {
    var $searchFormHeader = $(".search-form-header");
    if ($searchFormHeader.length && $searchFormHeader.find(".mdl-textfield__input").val().length) {
      $(".search-form-header").removeClass("is-hidden");
    }

    if (window.selectizedFields) {
      var searchFormSelectize = $.grep(window.selectizedFields, function(selectize){
        return "id_content_type-selectized" === window.selectizedFields[0].$control_input[0].id;
      });

      if (searchFormSelectize.length) {
        searchFormSelectize = searchFormSelectize[0];
        var path = window.location.pathname;
        if (path.indexOf("library") > 0) {
          searchFormSelectize.setValue("book");
        } else if (path.indexOf("references") > 0) {
          searchFormSelectize.setValue("reference");
        } else if (path.indexOf("interventions") > 0) {
          searchFormSelectize.setValue("intervention");
        } else if (path.indexOf("outwork") > 0) {
          searchFormSelectize.setValue("outwork");
        }
      }
    }
  });
</script>
{% endif %}