{% load static widget_tweaks %}

<section class="container">
  <form class="search-form-header__form" action="{% url 'search' %}">
    <label class="mdl-button mdl-js-button mdl-button--icon" for="search-term">
      <img width="50%" src="{% static "img/icons/Search.svg" %}" />
    </label>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      {% render_field search_form.query class+='mdl-textfield__input' %}
      <label class="mdl-textfield__label" for="{{ search_form.query.id }}">{{ search_form.query.label }}</label>
    </div>
    <div class="mdl-selectfield mdl-js-selectfield">
     {% render_field search_form.content_type class+="mdl-selectfield__select" %}
    </div>
    <div class="mdl-button mdl-js-button mdl-button--icon" data-action="toggle-search-form">
      <img width="50%" src="{% static "img/icons/Delete.svg" %}" />
    </div>
    <input type="submit" class="hidden" />
  </form>
</section>
