{% load static %}
<div class="visualization-chapter-markers">
  {% with ''|center:number as range %}
  {% for _ in range %}
    <div class="visualization-marker-container">
      <a class="visualization-chapter-marker" href="#" id="tt{{ forloop.counter }}">{{ forloop.counter }}</a>
      <div class='wrap'>
        <div class='content'>
          <section class="collection__item item">
            <figure class="item__image">
              <img class="img" src="{% static "img/bookimg/cover1.png" %}" />
            </figure>
            <a class="text-badge text-badge--blue text-badge--link" href="#">Reference</a>
            <h3 class="item__heading">Cours de linguistique générale</h3>
            <p class="item__author">Ferdinand de Saussure</p>
            <p class="item__date">1931</p>
            <p class="item__location">pp 169-280</p>
            <p class="item__excerpt">Je ne sais comment cela se fait, mais je sais bien que les opérations dont on tient le plus de registres et de livres de compte sont précisément celles où l’on friponne le plus.</p>
            <p class="item__citation">Cited in De la grammatologie  p. 401</p>
          </section>
        </div>
      </div>
    </div>
  {% endfor %}
  {% endwith %}
</div>
