{% extends 'books/instance_detail.html' %}
{% load static %}

{% block content %}
  <header class="page-header page-header--link">
    <div class="container">
      <h1 class="page-header__heading"><a href="{% url 'books:list' %}"><span class="arrow_icon">←</span> Derrida's Library</a></h1>
    </div>
  </header>
  <div class="container citation-list">
    <article class="collection">
      <header class="item-header" id="book-header">
        {% include "components/book-header.html" with book=instance %}
      </header>
      <section class="item-section">
        {% include "components/navigation-tabs.html" with book=instance is_citations=True %}
        {% include "components/page-sort.html" with total=references.count orderBy=orderBy %} {# preliminary #}
        {% for reference in references %}
          {% include 'components/citation-list-item.html' %}
        {% endfor %}
      </section>
    </article>
  </div>
{% endblock %}
