{% extends 'books/instance_detail.html' %}
{% load static %}

{% block content %}
  <header class="page-header page-header--link">
    <div class="container">
      <h1 class="page-header__heading"><a href="{% url 'books:list' %}"><i class="material-icons">arrow_back</i> Derrida's Library</a></h1>
    </div>
  </header>
  <div class="container citation-list">
    <article class="collection">
      <header class="item-header" id="book-header">
        {% include "components/book-header.html" with book=instance %}
      </header>
      <section class="item-section">
        {% include "components/navigation-tabs.html" with book=instance is_citations=True %}
        {% for citation in instance.cited_in.all %}
          {% include 'components/books-list-item.html' with href='books:detail' book=citation %}
        {% endfor %}
      </section>
    </article>
  </div>
{% endblock %}
