{% extends 'books/instance_detail.html' %}
{% load static %}

{% block page-subtitle %}{{ block.super }}Gallery ‖ {% endblock %}

{% block content %}
  <header class="page-header page-header--link">
    <div class="container">
      <h1 class="page-header__heading"><a class="page-header__link" href="{% url 'books:list' %}"><span class="arrow_icon">⟵</span> Derrida's Library</a></h1>
    </div>
  </header>
  <article class="item">
    <div class="container">
      {% include 'components/book-gallery.html' with book=instance %}
    </div>
  </article>
{% endblock %}
