{% extends 'djiffy/base.html' %}
{% load static %}

{% block nav-title %} Derrida's Library {% endblock %}

{% block page-context-id %}library{% endblock %}

{% block content %}
  <header class="page-header">
    <div class="container page-header__container">
      <h1 class="page-header__heading">Derrida's Library</h1>
      <div class="page-header__callout">
        <p class="lead">Only books that are cited in De la grammatologie and extant in Princeton University Library collection are displayed here.</p>
        <p><a class="callout__link" href="/">A full list of citations is accessible through Citation List.</a></p>
      </div>
    </div>
  </header>
  {% include "components/page-filter.html" %}
  {% include "components/page-sort.html" %}
  <div class="container">
    <article class="collection collection--condensed">

      <section class="collection__item item">
        <figure class="item__image">
          <img class="img" src="{% static "img/margin-logo.png" %}" />
        </figure>
        <h3 class="item__heading">Cours de linguistique générale</h3>
        <p class="item__author">Ferdinand de Saussure</p>
        <p class="item__date">1931</p>
      </section>

      <section class="collection__item item">
        <figure class="item__image">
          <img class="img" src="{% static "img/margin-logo.png" %}" />
        </figure>
        <h3 class="item__heading">Cours de linguistique générale</h3>
        <p class="item__author">Ferdinand de Saussure</p>
        <p class="item__date">1931</p>
      </section>

      <section class="collection__item item">
        <figure class="item__image">
          <img class="img" src="{% static "img/margin-logo.png" %}" />
        </figure>
        <h3 class="item__heading">Cours de linguistique générale</h3>
        <p class="item__author">Ferdinand de Saussure</p>
        <p class="item__date">1931</p>
      </section>

      <section class="collection__item item">
        <figure class="item__image">
          <img class="img" src="{% static "img/margin-logo.png" %}" />
        </figure>
        <h3 class="item__heading">Cours de linguistique générale</h3>
        <p class="item__author">Ferdinand de Saussure</p>
        <p class="item__date">1931</p>
      </section>

      <section class="collection__item item">
        <figure class="item__image">
          <img class="img" src="{% static "img/margin-logo.png" %}" />
        </figure>
        <h3 class="item__heading">Cours de linguistique générale</h3>
        <p class="item__author">Ferdinand de Saussure</p>
        <p class="item__date">1931</p>
      </section>

      <section class="collection__item item">
        <figure class="item__image">
          <img class="img" src="{% static "img/margin-logo.png" %}" />
        </figure>
        <h3 class="item__heading">Cours de linguistique générale</h3>
        <p class="item__author">Ferdinand de Saussure</p>
        <p class="item__date">1931</p>
      </section>

    </article>
  </div>
{% endblock %}
