{% extends 'djiffy/base.html' %}
{% load static %}

{% block nav-title %} Derrida's Library {% endblock %}

{% block header_class %}mdl-layout__header--transparent{% endblock %}

{% block page-context-id %}search-inputs{% endblock %}

{% block content %}
<header class="page-header">
  <div class="container page-header__container">
    <h1 class="page-header__heading">Search Inputs</h1>
    <div class="page-header__callout">
      <p class="lead">Only books that are cited in De la grammatologie and extant in Princeton University Library collection are displayed here.</p>
      <p><a class="callout__link" href="/">A full list of citations is accessible through Citation List.</a></p>
    </div>
  </div>
</header>
{% include "components/page-filter.html" %}
<div class="container">
  <article class="collection">
    <section>
      {% include 'components/form/author-selection.html' %}
    </section>

    <section>
      {% include 'components/form/year-selection.html' %}
    </section>
  </article>
</div>
{% endblock %}
