{% load static %}
{% if book.digital_edition.thumbnail %}
<img class="item-header__image" src="{{ book.digital_edition.thumbnail.image.thumbnail }}" />
{% else %}
<span class="item-header__image img--placeholder"></span>
{% endif %}
<h1 class="item-title">{{ book.work.primary_title }}</h1>
<p class="item-author">
  {% for author in book.work.authors.all %}
    {% if not forloop.last %}
      {{ author.authorized_name }};
    {% else %}
      {{ author.authorized_name }}
    {% endif %}
  {% endfor %}
</p>
<p class="item-term__value">{{ book.copyright_year }}{% if book.copy %} - {{ book.copy }}{% endif %}</p>
{% if book.start_page %}
<p class="item-pages">{{book.start_page}}</p>
{% endif %}

{# NOTE: iiif provider logo should also be displayed somewhere according to iiif spec #}
{# available as book.digital_edition.logo if we want it #}

{# for now, only supports rightsstatments.org licenses (should work for PUL content) #}
<p>
    {% if book.digital_edition.license %}
    <img src="{% static 'img/rightsstatements_org/' %}{{ book.digital_edition.rights_statement_id }}.svg"/>
    <a href="{{ book.digital_edition.license }}"><span class="arrow_icon">→</span> Learn More</a>
    {% endif %}

</p>