{% load static %}

<header class="item-header" id="book-header">
  {% include "components/book-header.html" with book=instance %}
  <nav class="item-navigation">
    {% if book.overview_images %}
    <a class="item-navigation-link item-navigation-link--active" href="#overview">Overview Images</a>
    {% endif %}
    {% if book.annotated_pages %}
    <a class="item-navigation-link" href="#annotated">Annotated Pages</a>
    {% endif %}
    {# <a class="item-navigation-link" href="#relevant">Relevant Markings</a> #}
    {% if book.insertion_images %}
    <a class="item-navigation-link" href="#insertions">Insertions</a>
    {% endif %}
  </nav>
</header>

<section class="item-section">
  {% include "components/navigation-tabs.html" with book=instance is_gallery=True %}
  <div class="item-gallery">
      {# overview images #}
      {% for canvas in book.overview_images %}
        {% if forloop.first %}
         <header class="item-gallery__heading">
          <h2 class="item-gallery__title"><a name="overview">Overview Images</a></h2>
        </header>
        {% endif %}
          <figure class="item__image item__image--gallery">
            <a class="item__image-link" href="{{ canvas.get_absolute_url }}">
              <img class="img" src="{{ canvas.image.thumbnail }}" />
            </a>
            <figcaption class="item__image-caption">
              <p>{{ canvas.label }}</p>
            </figcaption>
          </figure>
      {% endfor %}

      {% for canvas in book.annotated_pages %}
        {% if forloop.first %}
       <header class="item-gallery__heading">
        <h2 class="item-gallery__title"><a name="annotated">Annotated pages</a></h2>
      </header>
        {% endif %}
          <figure class="item__image item__image--gallery">
            <a class="item__image-link" href="{{ canvas.get_absolute_url }}">
              <img class="img" src="{{ canvas.image.thumbnail }}" />
            </a>
            <figcaption class="item__image-caption">
              <p>{{ canvas.label }}</p>
            </figcaption>
          </figure>
      {% endfor %}

   {% for canvas in book.insertion_images %}
        {% if forloop.first %}
       <header class="item-gallery__heading">
        <h2 class="item-gallery__title"><a name="insertions">Insertions</a></h2>
      </header>
        {% endif %}
          <figure class="item__image item__image--gallery">
            <a class="item__image-link" href="{{ canvas.get_absolute_url }}">
              <img class="img" src="{{ canvas.image.thumbnail }}" />
            </a>
            <figcaption class="item__image-caption">
              <p>{{ canvas.label }}</p>
            </figcaption>
          </figure>
      {% endfor %}

      {# placeholder design stuff #}

{% comment %}
    {% if forloop.counter == 10 %}
      <header class="item-gallery__heading">
        <h2 class="item-gallery__title"><a name="relevant">Relevant markings</h2>
      </header>
    {% endif %}
    {% endcomment %}


  </div>
</section>
