{% comment %}
The books-details template is used to display a single instance.
This template is only used on the details view for a book instance.
{% endcomment %}
{% load static %}
<header class="item-header" id="book-header">
  {% include "components/book-header.html" with book=instance %}
</header>

<section class="item-section">
  {% if not hide_nav %}
  {% include "components/navigation-tabs.html" with book=instance is_biblio=True %}
  {% endif %}

  {% if book.pub_place.count %}
  <div class="item-term item-term--inline">
    <h3 class="item-term__label">Place{{ book.pub_place.count|pluralize }} of Publication</h3>
    <p class="item-term__value">
      {% for place in book.pub_place.all %}
        {{ place }}{% if not forloop.last %}; {% endif %}
      {% endfor %}
    </p>
  </div>
  {% endif %}

  {% if book.publisher %}
  <div class="item-term item-term--inline">
    <h3 class="item-term__label">Publisher</h3>
    <p class="item-term__value">{{ book.publisher.name }}</p>
  </div>
  {% endif %}

  <div class="item-term item-term--inline">
    <h3 class="item-term__label">Publication Year</h3>
    <p class="item-term__value">{{ book.copyright_year|default:'' }}</p>
  </div>

  {% if book.languages.count %}
  <div class="item-term item-term--inline">
    <h3 class="item-term__label">Language{{ book.languages.count|pluralize }}</h3>
    <p class="item-term__value">
      {% for language in book.languages.all %}
        {% if not forloop.last %}
          {{ language }};&nbsp;
        {% else %}
          {{ language }}
        {% endif %}
      {% endfor %}
    </p>
  </div>
  {% endif %}

  {% if book.location %}
  <div class="item-term item-term--inline">
    <h3 class="item-term__label">Location</h3>
    <p class="item-term__value">{{ book.location }}</p>
  </div>
  {% endif %}

  {% if book.uri %}
  <div class="item-term item-term--inline item-term--callout">
    <h3 class="item-term__label">Where to find it</h3>
    <p class="item-term__value"><a class="item-term__link" href="{{ book.uri }}">{{ book.uri }}</a></p>
  </div>
  {% endif %}

  {% if book.collected_set.all %}
  <div class="item-term">
    {# TODO: fix style so color is black and not blue #}
    <a name="sections"><h3 class="item-term__label">Book Sections</h3></a>
    {% for section in book.collected_set.all %}
    <p class="item-term__value"><i>{{ section.display_title }}</i></p>
    <p class="item-term__value item-term__value--aside">
      {% for author in section.work.authors.all %}
          {{ author.firstname_last }}{% if not forloop.last %}; {% endif %}
      {% endfor %}
    </p>
    {% endfor %}
  </div>
  {% endif %}

  {% if book.work.instance_set.all|length > 1 %}
  <div class="item-term">
    <h3 class="item-term__label">Other Copies and Editions</h3>
    <div class="collection collection--condensed item-term__value item-term__value--title">
      {% for instance in book.work.instance_set.all %}
        {% if instance.id != book.id  %}
          {% url 'books:detail' instance.slug as instance_url %}
          {% include 'components/books-list-item.html' with book=instance href=instance_url thumbnail_size='smthumb' %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endif %}

    {% if book.related_instances %}
    <div class="item-term">
      <h3 class="item-term__label">Related Books</h3>
      <div class="collection collection--condensed item-term__value item-term__value--title">
        {% for instance in book.related_instances %}
          {% url 'books:detail' instance.slug as instance_url %}
          {% include 'components/books-list-item.html' with book=instance href=instance_url thumbnail_size='smthumb' %}
        {% endfor %}
      </div>
    </div>
    {% endif %}


</section>
