{% load static %}
{% if book.digital_edition.thumbnail %}
<img class="item-header__image" src="{{ book.digital_edition.thumbnail.image.thumbnail }}" />
{% else %}
<span class="item-header__image img--placeholder"></span>
{% endif %}
<h1 class="item-title">{{ book.work.primary_title }}</h1>
<p class="item-author">
  {% for author in book.work.authors.all %}
    {% if not forloop.last %}
      {{ author.authorized_name }};
    {% else %}
      {{ author.authorized_name }}
    {% endif %}
  {% endfor %}
</p>
{% if book.start_page %}
<p class="item-pages">{{book.start_page}}</p>
{% endif %}
