{% load static %}

<section class="collection__item book">
  <figure class="item__image">
    {% if book.digital_edition %}
      {% if book.digital_edition.thumbnail %}
      <img class="img" src="{{ book.digital_edition.thumbnail.image.thumbnail }}" />
      {% else %}
      <span class="img img--placeholder"></span>
      {% endif %}
    {% else %}
    <span class="img img--placeholder"></span>
    {% endif %}
  </figure>

  <div class="item__body">
    <a class="text-badge text-badge--blue text-badge--link" href="#">{{ book.item_type }}</a>
    <h3 class="item__heading">
      <a class="item__link" href="{% url 'books:detail' pk=book.id %}">{{ book.work.primary_title }}</a>
    </h3>
    <p class="item__author">
      {% for author in book.work.authors.all %}
        {% if not forloop.last %}
          {{ author.authorized_name }};&nbsp;
        {% else %}
          {{ author.authorized_name }}
        {% endif %}
      {% endfor %}
    </p>
    {% if book.copyright_year %}
    <p class="item__date">{{ book.copyright_year }}{% if instance.copy %} - {{ instance.copy }}{% endif %}</p>
    {% endif %}
    <p class="item__location">{{ book.location }}</p>
    <p class="item__excerpt">---</p>
    {% if book.cited_in %}
    <p class="item__citation">
      Cited in:
      {% for cited in book.cited_in.all %}
        {% if not forloop.last %}
          {{ cited.work.primary_title }};&nbsp;
        {% else %}
          {{ author.work.primary_title }}
        {% endif %}
      {% endfor %}
    </p>
    {% endif %}
  </div>
</section>
