{% load static %}
<section class="collection__item book">
  <figure class="item__image">
    <a class="img item__image__link" href="{% url 'books:detail' pk=book.pk %}">
      {% if book.thumbnail %}
        <img class="img" src="{{ book.thumbnail }}" />
      {% else %}
      <span class="img img--placeholder"></span>
      {% endif %}
    </a>
  </figure>

  <div class="item__body">
    {# NOTE: annotation indicator should be based on book.is_annotated #}
    <a class="text-badge text-badge--blue text-badge--link" href="#">{{ book.item_type }}</a>
    <h3 class="item__heading">
      <a class="item__link" href="{% url 'books:detail' pk=book.pk %}">{{ book.display_title }}</a>
    </h3>
    <p class="item__author">
      {% if book.author_firstname_last %}
      {{ book.author_firstname_last|join:"; " }}
      {% endif %}
      {% for author in book.work.authors.all %}
        {% if not forloop.last %}
          {{ author.authorized_name }};&nbsp;
        {% else %}
          {{ author.authorized_name }}
        {% endif %}
      {% endfor %}
    </p>
    {% if book.copyright_year %}
    <p class="item__date">{{ book.copyright_year }}{% if book.copy %} - {{ book.copy }}{% endif %}</p>
    {% endif %}
    <p class="item__location">{{ book.location }}</p>
    <p class="item__excerpt">---</p>
    {% if book.cited_in %}
    <p class="item__citation">
      Cited in:
      {% for cited in book.cited_in.all %}
        {% if not forloop.last %}
          {{ cited.work.primary_title }};&nbsp;
        {% else %}
          {{ author.work.primary_title }}
        {% endif %}
      {% endfor %}
    </p>
    {% endif %}
  </div>
</section>
