{% extends 'local/base.html' %}
{% load static %}

{% block head_extras %}
    {% include 'snippets/local_styles.html' %}
    <link rel="stylesheet" type="text/css" href="{% static "css/test-banner.css" %}" />
    <script src="{% static 'js/material.min.js' %}"></script>
    <script src="{% static 'js/lib/selectize.min.js' %}"></script>
    {# Include analytics if INCLUDE_ANALYTICS is set to True #}
    {# {% include 'snippets/analytics.html' %} #}
{% endblock %}

{% block page-title %}{% block page-subtitle %}{% endblock %}Derrida's Margins{% endblock %}
{% block xs-nav-title %}Derrida's Margins{% endblock %}
{% block nav-title %}Derrida's Margins{% endblock %}

{# extra nav links go here #}
{# {% block navlinks %}{% endblock %} #}

{% block navbar-extra %}
    {% include 'snippets/test_banner.html' %}
{% endblock %}
