{% extends 'djiffy/base.html' %}
{% load static humanize %}

{% block nav-title %} Outwork {% endblock %}

{% block header_class %}mdl-layout__header--transparent{% endblock %}

{% block page-context-id %}manifest-list{% endblock %}

{% block content %}
  <header class="page-header">
    <div class="container page-header__container">
      <h1 class="page-header__heading"><a class="page-header__link" href="{{ request.path }}">Outwork</a></h1>
    </div>
  </header>

  <div class="container djifbooks">
    <article class="collection collection--wide">
      {% for manifest in manifests %}
        {% include 'djiffy/snippets/manifest_card.html' with href=manifest.get_absolute_url book=manifest %}
      {% empty %}
        {% include 'components/search-results-empty.html' %}
      {% endfor %}
    </article>
  </div>
{% endblock %}
