{% extends 'djiffy/base.html' %}
{% load static humanize %}

{% block nav-title %} Outwork {% endblock %}

{% block header_class %}mdl-layout__header--transparent{% endblock %}

{% block page-context-id %}manifest-list{% endblock %}

{% block content %}
  <header class="item-header" id="book-header">
    <a class="item-header__image" href="{{ manifest.canvases.first.get_absolute_url }}">
      <img src="{{ manifest.thumbnail.image.thumbnail }}" />
    </a>
    <h1 class="item-title">{{ manifest.label }}</h1>
    {# metadata #}
    {% for field, value in manifest.metadata.items %}
      <p><strong>{{ field }}:</strong> {{ value|join:'; ' }}</p>
    {% endfor %}
    {% if manifest.canvases.exists %}  {# only relevant if a book ? #}
      <meta property="schema:numberOfPages" content="{{ manifest.canvases.all.count }}"/>
    {% endif %}
  </header>

  <section class="item-section">
    <div class="item-gallery canvas">
      {% for canvas in manifest.canvases.all %}
        {% include "djiffy/snippets/canvas_card.html" %}
      {% endfor %}
    </div>
  </section>
{% endblock %}
