# local settings for sensitive configurations that should not be
# checked into version control

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

ALLOWED_HOSTS = []

# username for accessing GeoNames API
GEONAMES_USERNAME = ''

# SECURITY WARNING: keep the secret key used in production secret!
# http://www.miniwebtool.com/django-secret-key-generator/
SECRET_KEY = ''
